<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
      analytics.page();
      }}();
    </script>

    
<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DELO SERVICES-About us</title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">


    <link rel="canonical" href="https://www.deloservices.com/about-us">


    <meta name="description" content="Delo Services Pvt ltd. is the fastest-growing startup in India. Online home services aggregator offering various household services to customers."/>

    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 6px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#1F5AB0; 
        border-radius: 6px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0; 
      }
      </style>
    <!--STYLE END SCROLL BAR-->
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap"   style="background-color: white;">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar  navbar-light" style="background-color: white;">
            <div class="container">
              <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                  </button>
                  <a href="/" class="navbar-brand"><img src="/assets/img/Delo Logo.png" alt="logo"   style="width:100%; height: 100%;"  > </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                  <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item dropdown"  style="margin-top: 15px; " >
                      <a class="nav-link " href="/" aria-expanded="false">
                        Home
                      </a>
                     
                    </li>
                 
                   
                   
                   
                    <% if(login == true){ %>
                    <li class="nav-item dropdown"  style="margin-top: 15px;" >
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="lnr lnr-user"></i> My Account
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                        <li><a class="dropdown-item" href="/cart"><i class="lnr lnr-heart"></i>Cart</a></li>
                        <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                      </ul>
                    </li>
                    <% } else { %>
  
                      <li class="nav-item dropdown"  style="margin-top: 15px;">
                        <a class="nav-link" href="/login"  aria-expanded="false">
                         Login
                        </a>
                       
                      </li>
  
                      <% } %>    


                      <li class="nav-item dropdown"  style="margin-top: 15px;">
                        <a class="nav-link" href="/delo-work"  aria-expanded="false">
                         For business
                        </a>
                       
                      </li>

  
                    <li class="postadd" style="margin-top: 35px;">
                      <a class="btn btn-primary btn-post" href="/team_login"><span class="fas fa-plus-circle"></span> Become a Team Member</a>
                    </li>

                    <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                      <a class="btn btn-primary btn-post" href="https://play.google.com/store/apps/details?id=com.deloservices.deloservices"  aria-expanded="false">
                        Download the app 
                       </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mobile-menu" data-logo="/assets/img/Delo Logo.png"></div>
          </nav>
    
      <!-- Navbar End -->
    </header>
    <!-- Header Area wrapper End -->

    <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="product-title">About Delo</h2>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->  

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-12 col-xs-12">
            <div class="about-wrapper">
   
              <p class="intro-desc" style="color: black;font-size:20px;">Delo Services Pvt ltd. is the fastest-growing startup in India. Online home services aggregator offering various household services to customers. It's website and mobile apps are primarily used by customers who require home services in its operational geography. We help customers to hire trusted & certified professionals for all their service needs. We are staffed with young, passionate people working tirelessly to make a difference in the lives of people by catering to their service needs at their doorsteps. Delo Services Pvt Ltd easy to use platform that provides a variety of hard-to-find home services such as plumbing, carpentry, electrical, cleaning, pest control etc. to customers via website and mobile apps. We also provide personal services like beauty, spa, mobile and other appliance repairs etc.


              </p>
            
            </div>
          </div>
         <!-- <div class="col-md-6 col-lg-6 col-xs-12">
            <img class="img-fluid" src="assets/img/about/about.png" alt="">
          </div>-->
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget">
            <div class="counter">
              <div class="icon"><i class="lni-layers"></i></div>
              <h2 class="counterUp">2019</h2>
              <p>FOUNDED IN</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget">
            <div class="counter">
              <div class="icon"><i class="lni-users"></i></div>
              <h2 class="counterUp">750</h2>
              <p>USERS</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget">
            <div class="counter">
              <div class="icon"><i class="lni-briefcase"></i></div>
              <h2 class="counterUp">96.4</h2>
              <p>RELIABILITY</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget">
            <div class="counter">
              <div class="icon"><i class="lni-map"></i></div>
              <h2 class="counterUp">500</h2>
              <p>PROFESSIONALS</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Services Section Start -->
  
    <!-- Services Section End -->  

    <!-- Testimonial Section Start -->
  
    <!-- Testimonial Section End --> 

    <!-- Footer Section Start -->
    <% include ./indexfooter.ejs%>
