

<!doctype html>
<html class="no-js" lang="">

<head>
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
        analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
        analytics.page();
        }}();
      </script>
      
<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delo Team - Team Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo2.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.carousel.css">
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.theme.css">
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/team_dashboard_style/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 6px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#1F5AB0; 
        border-radius: 6px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0; 
      }
      </style>
    <!--STYLE END SCROLL BAR-->
</head>

<body>
    <br><br>
  
<div id="wallet_history_show"></div> 
  <div id="ongoing"></div>
  

    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sale-statistic-inne notika-shadow mg-tb-30">
                        
                      
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->
    <!-- Start Email Statistic area-->
   
    <!-- End Email Statistic area-->

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/team_dashboard.js"></script>
    <script type='text/javascript'>
        var isCtrl = false;
        document.onkeyup=function(e)
        {
        if(e.which == 17)
        isCtrl=false;
        }
        document.onkeydown=function(e)
        {
        if(e.which == 17)
        isCtrl=true;
        if((e.which == 85) || (e.which == 67) || isCtrl == true)
        {
        // alert(&#8216;Keyboard shortcuts are cool!&#8217;);
        return false;
        }
        }
        var isNS = (navigator.appName == "Netscape") ? 1 : 0;
        if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
        function mischandler(){
        return false;
        }
        function mousehandler(e){
        var myevent = (isNS) ? e : event;
        var eventbutton = (isNS) ? myevent.which : myevent.button;
        if((eventbutton==2)||(eventbutton==3)) return false;
        }
        document.oncontextmenu = mischandler;
        document.onmousedown = mousehandler;
        document.onmouseup = mousehandler;
        </script>
      
</body>

</html>
