<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Delo Services -  Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.deloservices.com/images/delofabicon.png">
    <!-- Pignose Calender -->
    <link href="/booking_dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="/booking_dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/booking_dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="/booking_dashboard/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="https://www.deloservices.com/images/delofabicon.png" alt=""> </b>
                    <span class="logo-compact"><img src="/booking_dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title" style="color: white;font-family: 'cambria'">
                        <img src="https://www.deloservices.com/images/delofabicon.png" alt="">Delo Services
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
               
                <div class="header-right">
                    <ul class="clearfix">
                        
                       
                      
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/booking_dashboard/images/user/1.png" height="40" width="40" alt="">
                            </div>
                          <!--   <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body"> -->
                                   <!--  <ul>
                                     
                                        <li><a href="/team-verification-dashboard/logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul> -->
                               <!--  </div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="" href="/listing/dashboard" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
                   
                   <li>
                        <a class="" href="/listing/dashboard/free-listing-list" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Free Listing List</span>
                        </a>
                        
                    </li>

                     <li>
                        <a class="" href="/listing/dashboard/paid-listing-list" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Paid Listing List</span>
                        </a>
                        
                    </li>
                   

                    <!-- <li>
                            <a class="" href="/team-verification-dashboard/approved-professionals" aria-expanded="false">
                                <i class="icon-envelope menu-icon"></i> <span class="nav-text">Approved Professionals</span>
                            </a>
                           
                        </li>
                    <li>
                        <a class="" href="/team-verification-dashboard/unapproved-professionals" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Unapproved Professionals</span>
                        </a>
                       
                    </li>

                    <li>
                        <a class="" href="/team-verification-dashboard/reject-professionals" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Reject Professionals</span>
                        </a>
                       
                    </li>

                    <li>
                            <a class="" href="/team-verification-dashboard/recharge_details" aria-expanded="false">
                                <i class="icon-envelope menu-icon"></i> <span class="nav-text">Recharge Details </span>
                            </a>
                           
                        </li> -->
                 
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
