<!DOCTYPE html>
<html lang="en">
  <head>
      <script>
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
          analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
          analytics.page();
          }}();
        </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Delo Services-Frequently Asked Questions"/>

    <title>Delo Services-FAQ's</title>


    <link rel="canonical" href="https://www.deloservices.com/faq">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 6px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#1F5AB0; 
        border-radius: 6px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0; 
      }
      </style>
    <!--STYLE END SCROLL BAR-->
  </head>
  <body>

   
    
 

    <!-- FAQ Start -->
    <div class="faq section-padding">
        <div class="container">        
          <div class="row">
            <div class="col-md-12">
              <div class="head-faq text-center">
                <h1 class="section-title" style="font-size: 25px;">Frequently Asked Questions</h1>
                _________________________________________________________
                <br>
                <h4 style="color: black;font-size: 25px; ">General</h4>
              </div>
              <!-- accordion start -->
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Till when can I Book Delo Services Service?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse show">
                    <div class="panel-body">
                     
                      <br>
                      <p style="color: black; font-size: 18px;">
                        You can book Delo Serices Service 5 day in advance. Based on the availability of the Stylists, your slot will be confirmed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        How do I book services?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                     
                      <br>
                      <p style="color: black; font-size: 18px;" >You can book Delo Services from our Android  Application, website www.deloservices.com or contact the Customer Happiness Team at <br> +91 8088879880. </p>                    
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        How do I cancel the service booking that I have booked?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p style="color: black; font-size: 18px;">
                        You can cancel an Service anytime after your booking.
  
                        In this case, please login to your account and access your specific booking . Here you can click on the Cancel  icon to cancel or reschedule your booking respectively.
                        
                        Once you cancel your Service, the charges you paid will be immediately refunded to your wallet.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        I am a stylist interested in joining the Delo Services TEAM, who do I contact?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      
                      <br>
                      <p style="color: black; font-size: 18px;">
                        Please write to us at <a href="mailto:cs@deloservices.com">  cs@deloservices.com </a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        What is the mode of payment?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p style="color: black; font-size: 18px;">
                        Delo Services accepts Cash on Delivery , and also accepts online payment with all Wallets.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        Are your Service Providers qualified ?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                    
                      <br>
                      <p style="color: black;font-size: 18px;">
                        Absolutely! We only bring in professionals who have been recommended and certified by experts. We conduct interviews, check referrals, licenses, and do background checks on each and every service provider. Only those professionals who pass our strict onboarding process are allowed to work with Delo services. All professionals are also required to complete an assessment test to verify their qualifications. Most of them have more than 8 years of experience in his/her field.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        How do i reschedule a job booked on Delo Services?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                      
                      <br>
                      <p style="color: black;font-size: 18px;">
                        Please do email us at cs@deloservices.com or call our support team on +91 8088879880. However, the most convenient way is to reschedule a job through our Android  app.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                        Who do I contact if I have any issues or questions?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                      
                      <br>
                      <p style="color: black;font-size: 18px;">
                        You can contact the Customer Happiness Team at +91 8088879880 or email us at cs@deloservices.com Someone will respond to you immediately.
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!-- accordion End -->    
            </div>      
          </div>
        </div>      
      </div>
      <!-- End Content -->
  
      <div class="faq">
        <div class="container">        
          <div class="row">
            <div class="col-md-12">
              <div class="head-faq text-center">
                <h3 class="section-title" style="font-size: 25px;">Frequently Asked Questions</h3>
                ________________________________________________________
                <br>
                <h4 style="color: black;font-size: 25px; ">App Related</h4>
              </div>
              <!-- accordion start -->
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                        How do i download the App?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseNine" class="panel-collapse collapse show">
                    <div class="panel-body">
                     
                      <br>
                      <p style="color: black;font-size: 18px;">
                        Go to the Google Play store and search for Delo Team. The App is free to download. 
                        <a href="https://play.google.com/store/apps/details?id=com.deloservices.deloteam">Download the app</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                        Are there any benefits of using the App?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                     
                      <br>
                      <p style="color: black;font-size: 18px;" >Absolutely! Our experience on mobile is among the best! It's as easy as Book, Schedule & Relax. Book a service, schedule a time and relax while the job gets done at your home by our expert team. Additionally, there will be offers that are exclusive to the app from time to time.</p>                    
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                        How do youBook Services on the Delo Team App?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p style="color: black;font-size: 18px;">
                       Book an Service on the Delo Team App is fast and simple Steps:
                        Once you open the App on your smartphone, choose the service you would like to Service
                        Enter your exact requirement along with a schedule that works best for you.
                        The service provider will then arrive at your home and fix the issue. 
                      </p>
                    </div>
                  </div>
                </div>
                 
            </div>      
          </div>
        </div>      
      </div>
      <!-- End Content -->
  
  
    
    <!-- Footer Section End -->  

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/form-validator.min.js"></script>
    <script src="/assets/js/contact-form-script.min.js"></script>
    <script src="/assets/js/summernote.js"></script>
      
  </body>
</html>