<!doctype html>
<html lang="en">

<head>
		<script>
				!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
				analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
				analytics.page();
				}}();
			  </script>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="/team_style/assets/img/favicon.ico">

	<title>Delo Team - Membership</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="76x76" href="/team_style/assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="/images/logo2.png" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="/team_style/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/team_style/assets/css/material-bootstrap-wizard.css" rel="stylesheet" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  
	<link href="/team_style/assets/css/demo.css" rel="stylesheet" />


	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--Our code-->

<script src="/javascripts/jquery.js"></script>
<style>
	/* width */
	::-webkit-scrollbar {
	  width: 8px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey; 
	  border-radius: 6px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background:#1F5AB0; 
	  border-radius: 6px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #1F5AB0; 
	}
	</style>
  <!--STYLE END SCROLL BAR-->
<!--Our Code ends-->



<style>
		section {
			 padding: 100px 0;
		}
		 html, body {
			 overflow-x: hidden;
		}
		 body {
			 font-family: 'Roboto';
			 font-size: 17px;
			 font-weight: 400;
			 background-color: #eee;
		}
		 h1 {
			 font-size: 200%;
			 text-transform: uppercase;
			 letter-spacing: 3px;
			 font-weight: 400;
		}
		 header {
			 background: #3f51b5;
			 color: black;
			 padding: 150px 0;
		}
		 header p {
			 font-family: 'Allura';
			 color: rgba(255, 255, 255, .2);
			 margin-bottom: 0;
			 font-size: 60px;
			 margin-top: -30px;
		}
		 .timeline {
			 position: relative;
		}
		 .timeline::before {
			 content: '';
			 background: #c5cae9;
			 width: 5px;
			 height:70%;
			 position: absolute;
			 left: 50%;
			 transform: translateX(-50%);
		}
		 .timeline-item {
			 width: 100%;
			 margin-bottom: 70px;
		}
		 .timeline-item:nth-child(even) .timeline-content {
			 float: right;
			 padding: 40px 30px 10px 30px;
		}
		 .timeline-item:nth-child(even) .timeline-content .date {
			 right: auto;
			 left: 0;
		}
		 .timeline-item:nth-child(even) .timeline-content::after {
			 content: '';
			 position: absolute;
			 border-style: solid;
			 width: 0;
			 height: 0;
			 top: 30px;
			 left: -15px;
			 border-width: 10px 15px 10px 0;
			 border-color: transparent #f5f5f5 transparent transparent;
		}
		 .timeline-item::after {
			 content: '';
			 display: block;
			 clear: both;
		}
		 .timeline-content {
			 position: relative;
			 width: 45%;
			 padding: 10px 30px;
			 border-radius: 4px;
			 background: #f5f5f5;
			 box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
		}
		 .timeline-content::after {
			 content: '';
			 position: absolute;
			 border-style: solid;
			 width: 0;
			 height: 0;
			 top: 30px;
			 right: -15px;
			 border-width: 10px 0 10px 15px;
			 border-color: transparent transparent transparent #f5f5f5;
		}
		 .timeline-img {
			 width: 30px;
			 height: 30px;
			 background: #3f51b5;
			 border-radius: 50%;
			 position: absolute;
			 left: 50%;
			 margin-top: 25px;
			 margin-left: -15px;
		}
		
		 .timeline-card {
			 padding: 0 !important;
		}
		 .timeline-card p {
			 padding: 0 20px;
		}
		 .timeline-card a {
			 margin-left: 20px;
		}
		 
		 .timeline-img-header {
			 height: 20px;
			 position: relative;
			 margin-bottom: 20px;
		}
		 .timeline-img-header h2 {
			 color: #fff;
			 position: absolute;
			 bottom: 5px;
			 left: 20px;
		}
		 blockquote {
			 margin-top: 30px;
			 color: #757575;
			 border-left-color: #3f51b5;
			 padding: 0 20px;
		}
		 .date {
			 background: #ff4081;
			 display: inline-block;
			 color: #fff;
			 padding: 10px;
			 position: absolute;
			 top: 0;
			 right: 0;
		}
		 @media screen and (max-width: 768px) {
			 .timeline::before {
				 left: 50px;
			}
			 .timeline .timeline-img {
				 left: 50px;
			}
			 .timeline .timeline-content {
				 max-width: 100%;
				 width: auto;
				 margin-left: 70px;
			}
			 .timeline .timeline-item:nth-child(even) .timeline-content {
				 float: none;
			}
			 .timeline .timeline-item:nth-child(odd) .timeline-content::after {
				 content: '';
				 position: absolute;
				 border-style: solid;
				 width: 0;
				 height: 0;
				 top: 30px;
				 left: -15px;
				 border-width: 10px 15px 10px 0;
				 border-color: transparent #f5f5f5 transparent transparent;
			}
		}
		 
		
		</style>
	<style>
		#radio-3 {
			position: relative;
			bottom: 400px;
		}

		.selectBox input {
			display: none;
		}

		.selectBox input:checked+label {
			border-color: #23AAF2;
			z-index: 1;
			box-shadow: 0 0 0 3px rgba(0, 200, 83, .1);
		}

		.selectBox input:checked+label:before {
			background:#23AAF2;
			box-shadow: #23AAF2;
		}

		.selectBox label {
			border: 1px solid #eee;
			position: relative;
			padding: 15px 15px 15px 40px;
			cursor: pointer;
			font-weight: bold;
		}

		.selectBox label:before {
			content: '';
			width: 15px;
			height: 15px;
			box-shadow: 0 0 0 1px #ccc;
			border: 3px solid #fff;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
		}

		.selectBox label:hover {
			border-color: #999;
			z-index: 1;
		}

		.selectBox.radio label:before {
			border-radius: 100%;
		}

		.selectBoxGroup {
			display: flex;
			flex-wrap: wrap;
		}

		.selectBoxGroup .selectBox {
			margin-left: -1px;
		}

		.selectBoxGroup .selectBox:first-child {
			margin-left: 0;
		}

		@media screen and (max-width: 568px) {
			.selectBoxGroup {
				flex-direction: column;
			}

			.selectBoxGroup .selectBox {
				margin-left: 0;
			}

			.selectBoxGroup .selectBox label {
				width: 100%;
			}
		}

		.selectBoxGroup.underneath {
			flex-direction: column;
		}

		.selectBoxGroup.underneath .selectBox {
			margin-left: 0;
		}

		.selectBoxGroup.underneath .selectBox label {
			width: 100%;
		}

		.selectBoxGroup.rtl {
			direction: rtl;
		}

		.selectBoxGroup.rtl label {
			width: 100%;
			padding: 15px 40px 15px 15px;
			text-align: right;
		}

		.selectBoxGroup.rtl label:before {
			right: 15px;
		}
	</style>


	</style>

</head>

<body>
	<div class="image-container set-full-height"  style="background-color:whi">
		<!--   Creative Tim Branding   -->
		

		<!--  Made With Material Kit  -->

		
		<!--   Big container   -->
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<!--      Wizard container        -->
					<div class="wizard-container">
						<div class="card wizard-card" data-color="blue" id="wizardProfile">
							<form action="/file_rtr/insert" enctype="multipart/form-data" method="post">
								<!--        You can switch " data-color="purple" "  with one of the next bright colors: "#23AAF2", "orange", "red", "blue"       -->

								<div class="wizard-header">
										<!--	<button type="button" class="btn btn-info" style="float:right"  data-toggle="modal" data-target="#myModal">?</button>-->
									<h6 class="wizard-title" >
										E-Filling (Salary / Pension)
                  </h6>

                
               
								</div>
								<div class="wizard-navigation">
									<ul>
										<li><a href="#about" data-toggle="tab">About</a></li>
                                        <li><a href="#address" data-toggle="tab">Current Address</a></li>
                                        <li><a href="#document" data-toggle="tab">Document</a></li>
                                        <li><a href="#bank" data-toggle="tab">Bank Details</a></li>
									    <li><a href="#contact" data-toggle="tab">Additional</a></li>
										
									</ul>
								</div>

								<div class="tab-content">
									<div class="tab-pane" id="about">
										<div class="row">
											<h4 class="info-text"> </h4>
											<div class="col-sm-4 col-sm-offset-1">
												<div class="picture-container">
													<div class="picture">
														<img src="/team_style/assets/img/default-avatar.png" class="picture-src"
															id="wizardPicturePreview" title="" />
														<input type="file" name="image" id="wizard-picture" required>
													</div>
													<h6>Upload Form-16 / Pension Slip</h6>
												</div>
                                            </div>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                    <div class="picture-container">
                                                        <div class="picture">
                                                            <img src="/team_style/assets/img/default-avatar.png" class="picture-src"
                                                                id="wizardPicturePreview" title="" />
                                                            <input type="file" name="image_back" id="wizard-picture1">
                                                        </div>
                                                        <h6>Upload Form-16 (Back Side)</h6>
                                                    </div>
                                                </div>
											<div class="col-sm-12">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/color/30/000000/name.png"></i>
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Full Name
															<small>(required)</small></label>
														<input name="name" type="text" class="form-control" required>
													</div>
												</div>

												<div class="input-group">
													<span class="input-group-addon">
															<img src="https://img.icons8.com/office/30/000000/email.png">
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Email
															<small>(required)</small></label>
														<input name="email" type="email" class="form-control" required>
													</div>
												</div>

												<div class="input-group">
													<span class="input-group-addon">
															<i class="material-icons"><img src="https://img.icons8.com/cute-clipart/30/000000/age.png"></i>
													</span>
													<div class="form-group label-floating">
													
														<input name="dob" type="date" class="form-control" required>
													</div>
												</div>



												<div class="input-group">
													<span class="input-group-addon">
															<i class="material-icons"><img src="https://img.icons8.com/color/30/000000/name.png"></i>
													</span>
												
                                                    <div class="form-group label-floating">
                                                            <label class="control-label">Father's Name
                                                                <small>(required)</small></label>
                                                            <input name="father_name" type="text" class="form-control" required>
                                                        </div>
												</div>



												<div class="input-group">
													<span class="input-group-addon">
															<i class="material-icons"><img src="https://img.icons8.com/color/30/000000/name.png"></i>
													</span>
												
                                                    <div class="form-group label-floating">
                                                            <label class="control-label">Registered Mobile Number
                                                                <small>(required)</small></label>
                                                            <input name="number" type="number" class="form-control" required>
                                                        </div>
												</div>

											</div>



										</div>
									</div>


			





									<div class="tab-pane" id="document">
										<div class="row">
											<h4 class="info-text"> </h4>




											<div class="col-sm-6">
												<div class="picture-container">
													<div class="picture">
														<img src="/team_style/assets/img/default-avatar.png" class="picture-src"
															id="wizardPicturePreview" title="" />
														<input type="file" name="aadhar_front_side" id="wizard-picture" required>
													</div>
													<h6>Upload Aadhar Card ID Proof (front side)</h6>
												</div>
											</div>


											<div class="col-sm-6">
												<div class="picture-container">
													<div class="picture">
														<img src="/team_style/assets/img/default-avatar.png" class="picture-src"
															id="wizardPicturePreview" title="" />
														<input type="file" name="aadhar_back_side" id="wizard-picture" required>
													</div>
													<h6>Upload Aadhar Card ID Proof (back side)</h6>
												</div>
											</div>



											<div class="col-sm-12">
												
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/color/30/000000/bank-card-back-side.png"></i>
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Enter AAdhar Number
															<small>(required)</small></label>
														<input name="aadhar_number" type="number" class="form-control" required>
													</div>
                                                </div>
                                                
                                                <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons"><img src="https://img.icons8.com/color/30/000000/bank-card-back-side.png"></i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Enter PAN Number
                                                                <small>(required)</small></label>
                                                            <input name="pan_number" type="number" class="form-control" required>
                                                        </div>
                                                    </div>


                                                    <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><img src="https://img.icons8.com/color/30/000000/bank-card-back-side.png"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Enter Password
                                                                    <small>(Optional)</small></label>
                                                                <input name="password" type="password" class="form-control">
                                                            </div>
                                                        </div>


											</div>


										</div>
									</div>



									<div class="tab-pane" id="contact">
                                            <div class="row">
                                                    <h4 class="info-text"> </h4>
                                                   
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><img src="https://img.icons8.com/color/30/000000/name.png"></i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Additional Information For Tax Expert</label>
                                                                <input name="additional_information" type="textarea" class="form-control">
                                                            </div>
                                                        </div>
        
														</div>

											</div>
										</div>




										<div class="tab-pane" id="bank">
											<div class="row">
	
													<div class="row">
															<div class="col-sm-12">
																
															</div>

															<div class="col-sm-5 ">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="material-icons"><img src="https://img.icons8.com/ultraviolet/30/000000/bank-building.png"></i>
																	</span>
						
																	<div class="form-group label-floating">
																		<label class="control-label">Bank Name
																			<small>(required)</small></label>
																		<input name="bank_name" type="text" class="form-control" maxlength="10" required>
																	</div>
						
																</div>
															</div>	

															<div class="col-sm-5 ">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="material-icons"><img src="https://img.icons8.com/ultraviolet/30/000000/bank-building.png"></i>
																	</span>
						
																	<div class="form-group label-floating">
																		<label class="control-label">Account Number
																			<small>(required)</small></label>
																		<input name="account_number" type="number" class="form-control" maxlength="16" required>
																	</div>
						
																</div>
															</div>	
															<div class="col-sm-10 ">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="material-icons"><img src="https://img.icons8.com/ultraviolet/30/000000/cancel-4-digits.png"></i>
																	</span>
						
																	<div class="form-group label-floating">
																		<label class="control-label">IFSC Code
																		</label>
																		<input name="ifsc_code" type="text" class="form-control" required>
																	</div>
						
																</div>
															</div>	
															


							  <div class="col-sm-5">
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="material-icons"><img src="https://img.icons8.com/ultraviolet/30/000000/name.png"></i>
																	</span>
						
																	<div class="form-group label-floating">
																		<label class="control-label">Account holder name
																			<small>(required)</small></label>
																		<input name="account_holder_name" type="text" class="form-control" required>
																	</div>
						
																</div>
                                                            </div>	
                                                            

                                                            <div class="col-sm-5">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="material-icons"><img src="https://img.icons8.com/ultraviolet/30/000000/name.png"></i>
                                                                        </span>
                            
                                                                        <div class="form-group label-floating">
                                                                            <label class="control-label">Account Type
                                                                                <small>(required)</small></label>
                                                                          <select name="type" class="form-control" required>
                                                                         <option value="saving">Saving Account</option>
                                                                         <option value="current">Current Account</option>
                                                                          </select>
                                                                        </div>
                            
                                                                    </div>
                                                                </div>	


														</div>
											</div>
										</div>





									<div class="tab-pane" id="address">
										<div class="row">
											<div class="col-sm-12">
											
											</div>
											<div class="col-sm-5 ">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/office/30/000000/place-marker.png"></i>
													</span>
		
													<div class="form-group label-floating">
														<label class="control-label">Address Line 1
															<small>(required)</small></label>
														<input name="address1" type="text" class="form-control" required>
													</div>
		
												</div>
                                            </div>	
                                            

                                            <div class="col-sm-5 ">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons"><img src="https://img.icons8.com/office/30/000000/place-marker.png"></i>
                                                        </span>
            
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Address Line 2
                                                                <small>(required)</small></label>
                                                            <input name="address2" type="text" class="form-control" required>
                                                        </div>
            
                                                    </div>
                                                </div>

											<div class="col-sm-5 ">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/color/30/000000/pittsburgh-map.png"></i>
													</span>
		
													<div class="form-group label-floating">
														
													<select name="state" class="form-control" required>
<option value="">Select State</option>
<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
</select>
													
		
												</div>
											</div>
											</div>
											<div class="col-sm-5 ">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/cute-clipart/30/000000/map-marker.png"></i>
													</span>
		
													<div class="form-group label-floating">
														<label class="control-label">City
															<small>(required)</small></label>
														<input name="city" type="text" class="form-control" required>
													</div>
		
												</div>
											</div>	
											<div class="col-sm-10 ">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons"><img src="https://img.icons8.com/ultraviolet/40/000000/enter-pin.png"></i>
													</span>
		
													<div class="form-group label-floating">
														<label class="control-label">Pincode
															<small>(required)</small></label>
														<input name="pincode" type="text" class="form-control" required>
													</div>
		
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="wizard-footer">
									<div class="pull-right">
										<input type='button' class='btn btn-next btn-fill btn-info btn-wd'
											name='next' value='Next' />
										<input type='submit' class='btn btn-finish btn-fill btn-info btn-wd'
											id="finish" />
										</a></div>

									<div class="pull-left">
										<input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
											name='previous' value='Previous' />
									</div>
									<div class="clearfix"></div>
								</div>

						</div>
					</div> <!-- wizard container -->
				</div>
			</div><!-- end row -->
		</div> <!--  big container -->
		</form>
	
	
	
		<div class="footer">
			<div class="container text-center">
				
			</div>
		</div>
	</div>


	<div class="modal fade" id="myModal" role="dialog"   data-aos="zoom-in-down">
			<div class="modal-dialog modal-lg">
			
				<!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title"> Header</h4>
				</div>
			  
		
		
				<section class="timeline">
						<div class="container-fluid">
						  <div class="timeline-item">
							<div class="timeline-img"></div>
					  
							<div class="timeline-content js--fadeInLeft">
									<div class="timeline-img-header">
							  
						   </div>
							  <p>You Can Either Upload the relevant documents or Email same to us.  </p>
							  
							</div>
						  </div> 
					  
						  <div class="timeline-item">
					  
							<div class="timeline-img"></div>
					  
							<div class="timeline-content timeline-card js--fadeInRight">
							  <div class="timeline-img-header">
								
							  </div>
						   
							  <p>Our Tax Expert will call you and solve your all Tax Related queries.</p>
		 
							</div>
					  
						  </div>   
					  
						  <div class="timeline-item">
					  
							<div class="timeline-img"></div>
					  
							<div class="timeline-content js--fadeInLeft">
									<div class="timeline-img-header"> 
							
							  </div>
							  <blockquote>your ITR will be filed by your assigned Tax expert </blockquote>
							</div>
						  </div>   
					  
					
					  
					  
						</div>
					  </section>
					  
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		  </div>
		  
		</div>


</body>
<!--   Core JS Files   -->

<script src="/team_style/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/team_style/assets/js/jquery.bootstrap.js" type="text/javascript"></script>


<!--  Plugin for the Wizard -->
<script src="/team_style/assets/js/material-bootstrap-wizard.js"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="/team_style/assets/js/jquery.validate.min.js"></script>

<script src="/javascripts/team.js"></script>



<script>
		$(function(){
		
		window.sr = ScrollReveal();
		
		if ($(window).width() < 768) {
		
		  if ($('.timeline-content').hasClass('js--fadeInLeft')) {
			$('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
		  }
		
		  sr.reveal('.js--fadeInRight', {
			origin: 'right',
			distance: '300px',
			easing: 'ease-in-out',
			duration: 800,
		  });
		
		} else {
		  
		  sr.reveal('.js--fadeInLeft', {
			origin: 'left',
			distance: '300px',
			easing: 'ease-in-out',
			duration: 800,
		  });
		
		  sr.reveal('.js--fadeInRight', {
			origin: 'right',
			distance: '300px',
			easing: 'ease-in-out',
			duration: 800,
		  });
		
		}
		
		sr.reveal('.js--fadeInLeft', {
			origin: 'left',
			distance: '300px',
			easing: 'ease-in-out',
			duration: 800,
		  });
		
		  sr.reveal('.js--fadeInRight', {
			origin: 'right',
			distance: '300px',
			easing: 'ease-in-out',
			duration: 800,
		  });
		
		
		});
		
		</script>
</html>