<!DOCTYPE html>
<!--
Item Name: Elisyam - Web App & Admin Dashboard Template
Version: 1.5
Author: SAEROX

** A license must be purchased in order to legally use this template for your project **
-->
<html lang="en">
    <head>
            <script>
                    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
                    analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
                    analytics.page();
                    }}();
                  </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Delo - Dashboard </title>
        <meta name="description" content="Delo Services-One Destination For All Home & Beauty Services in Delhi.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Google Fonts -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
          WebFont.load({
            google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
        </script>
        <!-- Favicon -->
        <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/admin/assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/admin/assets/img/yy.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/img/yy.png">
        <!-- Stylesheet -->
        <link rel="stylesheet" href="/admin/assets/vendors/css/base/bootstrap.min.css">
        <link rel="stylesheet" href="/admin/assets/vendors/css/base/elisyam-1.5-dark.min.css">
        <link rel="stylesheet" href="/admin/assets/css/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/admin/assets/css/owl-carousel/owl.theme.min.css">


<link rel="stylesheet" href="/dentist/octopus/assets/vendor/fullcalendar/fullcalendar.css" />
	<link rel="stylesheet" href="/dentist/octopus/assets/vendor/fullcalendar/fullcalendar.print.css" media="print" />

        <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>
    <body id="page-top">
     
        <div class="page">
            <!-- Begin Header -->
            <header class="header">
                <nav class="navbar fixed-top">         
                    <!-- Begin Search Box-->
                    <div class="search-box">
                        <button class="dismiss"><i class="ion-close-round"></i></button>
                        <form id="searchForm" action="#" role="search">
                            <input type="search" placeholder="Search something ..." class="form-control">
                        </form>
                    </div>
                    <!-- End Search Box-->
                    <!-- Begin Topbar -->
                    <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
                        <!-- Begin Logo -->
                        <div class="navbar-header">
                            <a href="db-default.html" class="navbar-brand">
                                <div class="brand-image brand-big">
                            Delo Services Pvt. Ltd.
                                </div>
                               
                            </a>
                            <!-- Toggle Button -->
                            <a id="toggle-btn" href="#" class="menu-btn active">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <!-- End Toggle -->
                        </div>
                        <!-- End Logo -->
                        <!-- Begin Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                            <!-- Search -->
                          
                            <!-- End Notifications -->
                            <!-- User -->
                            <li><a id="user" rel="nofollow" href="/deloservices-login/logout"  aria-haspopup="true" aria-expanded="false" class="nav-link"> <button class="btn btn-gradient-01" href="" style="height: 55px;">Log Out</a>
                               
                            </li>
                            <!-- End User -->
                            <!-- Begin Quick Actions -->
                         
                            <!-- End Quick Actions -->
                        </ul>
                        <!-- End Navbar Menu -->
                    </div>
                    <!-- End Topbar -->
                </nav>
            </header>
            <!-- End Header -->
            <!-- Begin Page Content -->
            <div class="page-content d-flex align-items-stretch">
                <div class="default-sidebar">
                    <!-- Begin Side Navbar -->
                    <nav class="side-navbar box-scroll sidebar-scroll">
                        <!-- Begin Main Navigation -->
                        <ul class="list-unstyled">
                            <li class="active"><a href="/adminhome"><img src="https://img.icons8.com/ultraviolet/28/000000/details-popup.png" ><span style="margin-left: 18px;">Dashboard</span></a>
                               
                            </li>

                            

                            <li><a href="/adminhome/teamverification"><img src="https://img.icons8.com/ultraviolet/28/000000/approval.png"><span style="margin-left: 20px;"> Team Approval</span></a></li>
                            <li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><img src="https://img.icons8.com/color/28/000000/sensor.png"><span style="margin-left: 20px;">Component</span></a>
                                <ul id="dropdown-app" class="collapse list-unstyled pt-0">
                                    <li><a href="/category">Categories</a></li>
                                    <li><a href="/subcategory">Subcategories</a></li>
                                    <li><a href="/services">Services</a></li>
                               
                                </ul>
                            </li>
                            <li><a href="/newblog"><img src="https://img.icons8.com/windows/28/000000/bebo.png">      <span style="margin-left: 20px;"> Blogs</span></a></li>
                            <li><a href="/adminhome/inhouse"><img src="https://img.icons8.com/cotton/28/000000/home--v2.png">    <span style="margin-left: 20px;">Inhouse Service</span></a></li>
                        </ul>
                      
                    </nav>
                    <!-- End Side Navbar -->
                </div>
                <!-- End Left Sidebar -->
                <div class="content-inner">
                    <div class="container-fluid">
                        <!-- Begin Page Header-->
                        <div class="row">
                            <div class="page-header">
	                            <div class="d-flex align-items-center">
                                    <h2 class="page-header-title">Dashboard</h2>
                                    <a href="/adminhome/liveservices"><button type="button" class="btn btn-link text-white">Live Services</button></a>
	                                <div>

	                                </div>
	                            </div>
                            </div>
                        </div>
              <div id="teamverification"></div>
      <div id="details"></div>
      
              <!-- Begin Vendor Js -->
        <script src="/admin/assets/vendors/js/base/jquery.min.js"></script>
        <script src="/admin/assets/vendors/js/base/core.min.js"></script>
        <!-- End Vendor Js -->
        <!-- Begin Page Vendor Js -->
        <script src="/admin/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
        <script src="/admin/assets/vendors/js/chart/chart.min.js"></script>
        <script src="/admin/assets/vendors/js/progress/circle-progress.min.js"></script>
        <script src="/admin/assets/vendors/js/calendar/moment.min.js"></script>
        <script src="/admin/assets/vendors/js/calendar/fullcalendar.min.js"></script>
        <script src="/admin/assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>
        <script src="/admin/assets/vendors/js/app/app.js"></script>
        <!-- End Page Vendor Js -->
        <!-- Begin Page Snippets -->
        <script src="/admin/assets/js/dashboard/db-default-dark.js"></script>
        <!-- End Page Snippets -->              

                    </body>


<script>



function refresh(){
    $.getJSON('/adminhome/inhouseservice',data=>{
    maketable(data)
})
}


$.getJSON('/adminhome/inhouseservice',data=>{
    maketable(data)
})

function maketable(data){
    let table = ` <div class="row flex-row">
                            <div class="col-xl-12">
                                <!-- Begin Widget 07 -->
                                <div class="widget widget-07 has-shadow">
                                    <!-- Begin Widget Header -->
                                    <div class="widget-header bordered d-flex align-items-center">
                                        <h2>Team Approval Details</h2>
                                        
                                    </div>
                                    <!-- End Widget Header -->
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="table-responsive table-scroll padding-right-10" style="max-height:520px;">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr>
                                                       
                                                        <th>Name</th>
                                                        <th>Category Name</th>
                                                        <th>Service Name</th>
                                                        <th>Address</th>
                                                      <th>Pincode</th>
                                                        <th>Price</th>
                                                        <th>Payment Mode </th>
                                                        <th>Date</th>
                                                        <th>Accept</th>
                                                        
                                                        
                                                    </tr>
                                                </thead>

<tbody>`

  $.each(data,(i,item)=>{

  
        table+=` <tr>
            
                <th>${item.name}</th>
                <th>${item.categoryname}</th>
                <th>${item.booking_id}</th>
                <th>${item.address}</th>
                <th>${item.pincode}</th>
                <th>${item.price}</th>
                <th>${item.payment_mode}</th>
                <th>${item.date}</th>
                <th><button type="button" class="btn btn-light accept" id="${item.id}" price="${item.price}" usernumber = "${item.usernumber}"  bookingid = '${item.booking_id}' date="${item.date}" time="${item.time}" >Pick</th>    
                
            </tr>`

        })
table+=`</tbody>

                                               
                                            </table>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                    <!-- Begin Widget Footer -->
                                
                                </div>
                                <!-- End Widget 07 -->
                            </div>
                        </div>`
                        $('#teamverification').html(table)
                      
}

</script>


<script>

$('#teamverification').on('click', '.accept', function () {
    const id = $(this).attr('id');
     const price = $(this).attr('price');
     const bookingid = $(this).attr('bookingid');
     const usernumber = $(this).attr('usernumber');
     const date = $(this).attr('date');
     const time = $(this).attr('time');

     $.post('/booking/inhouse-confirmation',{id,price,usernumber,bookingid,date,time},data=>{
       alert(data)
       refresh()
     })
      
})

</script>

<script type='text/javascript'>
    var isCtrl = false;
    document.onkeyup=function(e)
    {
    if(e.which == 17)
    isCtrl=false;
    }
    document.onkeydown=function(e)
    {
    if(e.which == 17)
    isCtrl=true;
    if((e.which == 85) || (e.which == 67) || isCtrl == true)
    {
    // alert(&#8216;Keyboard shortcuts are cool!&#8217;);
    return false;
    }
    }
    var isNS = (navigator.appName == "Netscape") ? 1 : 0;
    if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
    function mischandler(){
    return false;
    }
    function mousehandler(e){
    var myevent = (isNS) ? e : event;
    var eventbutton = (isNS) ? myevent.which : myevent.button;
    if((eventbutton==2)||(eventbutton==3)) return false;
    }
    document.oncontextmenu = mischandler;
    document.onmousedown = mousehandler;
    document.onmouseup = mousehandler;
    </script>
  

                    </html>