<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    !function () {
      var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
      analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); analytics._loadOptions = e }; analytics.SNIPPET_VERSION = "4.1.0";
        analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
        analytics.page();
      }
    }();
  </script>



  <!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-741046957');
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>DELO SERVICES - Privacy Policy</title>
  <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">

  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">


  <link rel="canonical" href="https://www.deloservices.com/privacypolicy">

  <meta name="description"
    content="The terms 'Personal Information'and 'Sensitive Personal Data or Information' shall have the meaning ascribed to it under the applicable laws of India.." />


  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 6px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #1F5AB0;
      border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1F5AB0;
    }


    p {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }

    li {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }

    h3 {
      font-size: 24px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
    }


    h4 {
      font-size: 20px;
      color: #1f5ab0;
      font-family: 'Times New Roman', Times, serif;
    }


    th {
      font-size: 16px;
      color: #1f5ab0;
      font-family: 'Times New Roman', Times, serif;
    }

    td {
      font-size: 16px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }
  </style>
  <!--STYLE END SCROLL BAR-->
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap" style="background-color: white;">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar  navbar-light"
      style="background-color: white;">
      <div class="container">
        <div class="theme-header clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse"
              aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/assets/img/Delo Logo.png" alt=""
                style="width:100%; height: 100%;"> </a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item dropdown" style="margin-top: 15px; ">
                <a class="nav-link " href="/" aria-expanded="false">
                  Home
                </a>

              </li>



              <% if(login == true){ %>
              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="lnr lnr-user"></i> My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                  <li><a class="dropdown-item" href="/cart"><i class="lnr lnr-heart"></i>Cart</a></li>
                  <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                </ul>
              </li>
              <% } else { %>

              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link" href="/login" aria-expanded="false">
                  Login
                </a>

              </li>

              <% } %>


              <li class="nav-item dropdown"  style="margin-top: 15px;">
                <a class="nav-link" href="/delo-work"  aria-expanded="false">
                 For business
                </a>
               
              </li>

              <li class="postadd" style="margin-top: 35px;">
                <a class="btn btn-primary btn-post" href="/team_login"><span class="fas fa-plus-circle"></span> Become a
                  Team Member</a>
              </li>


              <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                <a class="btn btn-primary btn-post"
                  href="https://play.google.com/store/apps/details?id=com.deloservices.deloservices"
                  aria-expanded="false">
                  Download the app
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="mobile-menu" data-logo="/assets/img/Delo Logo.png"></div>
    </nav>
    <!-- Navbar End -->
    <!-- Navbar End -->
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container" style="background-color:">

      <p>This is the Privacy Policy for Delo Services Private Limited, with registered address, D-64 F/F No. 1 Abul
        Fazal Enclave, Part - 1 Jamia Nagar, New Delhi, South Delhi - 110025 Corporate Office : D-96 Birkhe Ram Complex
        Opp. Community Center Munirka South West Delhi - 110067

        (&quot;Delo Services &quot;, &quot;us&quot;, &quot;we&quot; or &quot;our&quot;).
        It explains how we, as data controller, collect, use and share the information that we receive or collect about
        you
        (that may include personal information) though our website at <a class="privacy__link"
          href="/">www.deloservices.com</a> and our India App
        &quot;Delo Services&quot;(collectively referred to as &quot;the Site&quot;) which you can use to book all
        household
        services. It also explains the rights you as a user of our Services have to control the use of your information.
        Personal information means any information relating to a natural person that allows that individual to be
        identified
        either directly or indirectly from that information. </p>
      <p><strong>Please read this Privacy Policy carefully before you start using the Website.</strong></p>


      <br>
      <br>
      <h3>Other applicable terms</h3>
      <p>In addition to this Privacy and Cookies Policy, our website Terms of Use also apply to your use of the Services
        and are, where relevant, incorporated by reference into this Privacy Policy.</p>
      <br>
      <br>
      <h3>1. Information we collect about you</h3>
      <p>Our primary goals in collecting information are to provide our Services to our Users and Professionals  and to
        enable us to best respond to our Users and Professionals &#x27; requests for help or information and to improve our
        Services and their features and content and to promote our Services both through our website and our app and
        through our events, newsletters, competitions and promotions where we have your permission to do so.</p>
      <br>
      <h4>• Categories of Information we collect from you:</h4>
      <p class="privacy__left-padded"><strong>Relating to both Users and Professionals </strong></p>
      <br>
      <ul class="privacy__list">
        <li><strong>Identity data</strong> - information used to identify users including first name, last name, title,
          date of birth, gender, log in and User and Professionals password details</li>
        <li><strong>Contact data</strong> - postal address, email address, telephone number and mobile number</li>
        <li><strong>Financial data</strong> - bank accounts of Professionals in order to pay them for the Services and
          payment card details to manage payment for booked services by Users on behalf of the Professionals , We note we do not collect full card details but work with third
          party payment providers (see below) to processor the payment.</li>
        <li><strong>Technical data</strong> - internet protocol (IP) address, log in (password), browser type and
          version, time zone setting and location, browser plug-in types and versions, operating system and platform and
          other technology on the devices used by the user to access your website or app.</li>
        <li><strong>Marketing and communications data</strong> - User and Professionals preferences in receiving marketing
          from Delo Services and any third party affiliates.</li>
         <li><strong>Location data</strong> - data that is used to enable the Professionals to find the User in order to
          perform the services and the User to check the arrival of the Professionals.</li>
        <li><strong>Aggregated data</strong> - data that is collected, used and shared such as statistical or
          demographic data for any purpose, eg. used to analyse trends, track Users&#x27; movements around the website
          or app and to gather information on our User base as a whole. Or, in the case of Professionals we may collect
          data such as number of bookings and schedule information.</li>
      </ul>
      <p class="privacy__left-padded"><strong>Relating to Users only:</strong></p>
      <ul class="privacy__list">
        <li><strong>Transaction data</strong> -includes details of the  Services Users have booked from
          the website or app. Usage data-information about how Users use the Services. This includes how you interact
          with the Services, for example, how long you engage with Delo Services at a time, how often a booking is made.
          and which parts of the Services you interact with and the features you use.</li>
        <li><strong>Profile data</strong> -includes User website browsing history, demographic information such as age,
          gender, education level, feedback and survey responses, any information that you have made publicly available
          on our noticeboards or on social media networks</li>
        <li><strong>Work related data</strong> - We work with businesses to deliver our Services to their employees. If
          you are employed by one of those businesses, to use the Services you will need to sign up with us. We will
          collect information from you directly when you do this p and we will also be able to associate this with
          information provided by your employer, such as your job title.</li>
        <li><strong>Service Notes</strong> - we may collect information about our Service delivery for example,
          instructions on how to access a building. You provide this information voluntarily. We pass this information
          on to Professionals so that they can understand any specific access / similar requirements.</li>
      
      </ul>
      <p class="privacy__left-padded"><strong>Relating to Professionals only:</strong></p>
      <ul class="privacy__list">
        <li><strong>Assessment data</strong> - information on qualifications and certification of Professionals , trade test
          assessment results, contact logs data, performance and ratings data.</li>
        <li><strong>Profile data</strong> - Photograph, biography, treatments offered and languages spoken by Professionals 
          and average rating obtained from our evaluation using algorithms of ratings review and feedback survey
          results, number of bookings and schedule information.</li>
      </ul>
      <br>
      <h4>• Information we may collect from you from your use of the Services</h4>
      <p class="privacy__left-padded">We will use this information to administer the Services and for internal
        operations, including troubleshooting, data analysis, testing research and statistical survey purposes. We will
        also use this information to measure the effectiveness of how we present content and deliver our Services and
        how we market and advertise. This information will also be used to allow you to participate in the interactive
        features of our Services, when you choose to do so. It is always your choice whether or not to provide
        information. If you do not provide certain information however, you may not be able to use certain features of
        the website or app or be provided with certain Services.</p>
      <br>
      <h4>• Information we may collect from other sources or which is automatically collected</h4>
      <p class="privacy__left-padded">Information may be gathered from our affiliates and third-party sources including
        without limitation our third-party service providers (such as events, marketing services and payment providers),
        publicly available data, other companies and referrals.</p>
      <p class="privacy__left-padded">When you visit the Website we may automatically collect additional information
        about you, such as the type of internet browser or mobile device you use, any website from which you have come
        to the Website and your IP address (the unique address which identifies your device on the internet) and your
        operating system, which are automatically recognised by our web server. You cannot be identified from this
        information and it is only used to assist us in providing an effective service on the Website and to collect
        broad demographic information for aggregate use.</p>
      <p class="privacy__left-padded">We may from time to time collect personal details from available sources, such as
        LinkedIn, or from a publically available online registry to which you give your details or from your
        company&#x27;s website to contact you in our legitimate business interests with business opportunities which we
        think might be required from you. In our first communication with you, we will identify if we have obtained your
        information which we use for these purposes from a third party source.</p><br>
      <h3>2. Uses made of your information</h3>
      <p>We will use the personal information described above to:</p>
      <ul class="privacy__list privacy__list--no-style">
        <li>(a) identify Users and Professionals when they sign in to their account;</li>
        <li>(b) enable us to process Users&#x27; bookings of any services on behalf of Professionals 
           send confirmation of services bookings or confirmation of
          cancellations of bookings, and to enable Users and Professionals to access other information or assistance
          offered through the Services and which they request including but not limited to customer service requests or
          assistance with dispute resolution;</li>
        <li>(c) administer User and Professionals accounts;</li>
        <li>(d) To assess and verify qualifications and credentials of Professionals and to create and maintain profiles of
          Professionals ;</li>
        <li>(e) To manage and process the collection of payment of behalf of Professionals for services booked by
          Users ;</li>
        <li>(f) analyse the use of the Services and the visits to the Site/App in order to improve our content and
          Services including research into our Users’ demographics and tracking of booking data;</li>
        <li>(g) where you have not objected, send you information to Users and Professionals which we think you may find
          useful or which you have requested from us, including marketing communications such as emails about any
          improvements to the Services, special offers or promotions, events, competitions;</li>
        <li>(h) where you have not objected, send you, information about any improvements to existing  services, 
          special offers or promotions, events or competitions. Delo Services does not share any personal data of its
           Users or Professionals with any Business
          Partners but you may see our Business Partners name, logos and other brand references appearing in the emails
          which we send to you.</li>
      </ul>
      <p>We may review, scan, or analyse your communications on the Delo Services Platform between the User and the
        Service provider for fraud prevention, risk assessment, regulatory compliance, investigation, 
        development, research, analytics, and customer support purposes. In some cases, we may also scan, review, or
        analyse messages to debug, improve, and expand services offerings. We use automated methods where reasonably
        possible. However, occasionally we may need to manually review some communications, such as for fraud
        investigations and customer support, or to assess and improve the functionality of these automated tools. We
        will not review, scan, or analyse your messaging communications to send third party marketing messages to you,
        and we will not sell reviews or analyses of these communications.These activities are carried out based on Delo
        Services’s legitimate interest in ensuring compliance with applicable laws and our Terms, preventing fraud,
        promoting safety, and improving and ensuring the adequate performance of our services.</p><br>
      <h3>3. Purposes and Lawful Bases for which Delo Services uses your data</h3>
      <p>We have set out in the tables below a description of the ways we use your personal information, the category of
        information it comes under and the legal basis or bases which we rely on to process it, including where we are
        relying on our legitimate interests and identifying what those interests are. There may be more than one lawful
        basis on which we process your information depending on the specific purposes for which we are using the
        information. Where we rely on legitimate interests we are always careful to balance your privacy rights with
        those interests.</p>
      <p>Please note that these are examples of the kinds of personal information we collect and of the uses we may make
        of it. We may from time to time collect other types of personal information including and not limited to
        information you voluntarily give us.</p>
      <p>Please contact us if you need more information at <a class="privacy__link"
          href="mailto:info@deloservices.com">info@deloservices.com</a>.</p>
      <br>
      <h4><strong>User Information</strong></h4>
      <div class="privacy__table-container">
        <table border="1px" cellSpacing="0" cellPadding="6px" style="border-color:#E7E9EE">
          <thead>
            <tr>
              <th>Purpose</th>
              <th>Type of data</th>
              <th>Lawful basis for processing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>To register a new User</td>
              <td>Identity, contact, technical</td>
              <td>Necessary for the performance of our contract with you; in our legitimate interests in operating our
                Services to analyse how our Services are being used and develop these further.</td>
            </tr>
            <tr>
              <td>To identify you as a User when you sign in to your account</td>
              <td>Identity, Technical data</td>
              <td>Necessary for the performance of our contract with you; in our legitimate interests in operating our
                Services to analyse how our Services are being used and develop these further.</td>
            </tr>
            <tr>
              <td>To process and deliver a service request from a User</td>
              <td>Identity, contact, profile data, assessment data, location data, technical data, transaction data,
                operational data</td>
              <td>Necessary for the performance of our contract with you; in our legitimate interests in operating our
                Services to analyse how our Services are being used and develop these further.</td>
            </tr>
            <tr>
              <td>Managing collection of payment for services booked by Users on behalf of Professionals. </td>
              <td>Identity, contact, financial data, transaction data, operational data</td>
              <td>Necessary for performance of the contract with Users, Professionals and Retailers </td>
            </tr>
            <tr>
              <td>Assisting Users with queries and problems in live chats on site</td>
              <td>Technical data, operational data, identity, contact</td>
              <td>Necessary for the performance of the contract with our Users;, in our legitimate interests to resolve
                problems to ensure our Services run as smoothly as possible to increase User satisfaction </td>
            </tr>
            <tr>
              <td>To administer and protect the website and app and Services (including troubleshooting, data analysis,
                testing and system review)</td>
              <td>Identity, contact, technical data</td>
              <td>In our legitimate interests to run our website, app and services, manage administration and IT
                services and safeguard network security </td>
            </tr>
            <tr>
              <td>To manage our relationship with Users by sending emails to confirm bookings for services or
                cancellations of bookings.</td>
              <td>Identity, contact, technical data, transaction data </td>
              <td>Necessary for the performance of a contract with the User; in our legitimate interests in maintaining
                and improving the running of the Services</td>
            </tr>
            <tr>
              <td>Asking Users to complete ratings reviews and feedback surveys on Professionals and services received
              </td>
              <td>Identity, contact, usage, , profile data</td>
              <td>In our legitimate interests to understand how Users use, enjoy and rate the Services to ensure services
                 standards are maintained </td>
            </tr>
            <tr>
              <td>Inviting Users to take part in any promotions, events or competitions</td>
              <td>Identity, contact, usage data, marketing and communications data</td>
              <td>With consent where required by law in or where Users have not objected; in the legitimate interests of
                the business to encourage Users to use the Services.</td>
            </tr>
            <tr>
              <td>To make recommendations and suggestions to Users.</td>
              <td>Identity, contact data, usage data, profile data, marketing and communications data, aggregated data
              </td>
              <td>In the legitimate interests of the business to develop and grow </td>
            </tr>
            <tr>
              <td>To advertise and market our site and app and services to Users </td>
              <td>Usage data, marketing and communications data, aggregated data</td>
              <td>With consent where required by law in or where Users have not objected the case of direct marketing
                email communications ;in the case of analysis and evaluation of our Services and campaigns in the
                legitimate interests of the business to develop and grow</td>
            </tr>
            <tr>
              <td>To send Users information about  services, special offers or promotions, events or
                competitions of carefully selected Business Partners. </td>
              <td>Identity, contact, usage, profile, marketing and communications, aggregated data</td>
              <td>With consent as required by law, in the legitimate interests of the business to encourage Users to use
                our Business Partners&#x27; Services</td>
            </tr>
            <tr>
              <td>To notify Users about any changes to our website and/or app and /or Services</td>
              <td>Identity data, contact data</td>
              <td>Necessary for the performance of a contract with the User and in the legitimate interests of the
                business in the smooth running of the Services</td>
            </tr>
            <tr>
              <td>To notify Users of any changes to the Privacy Policy or changes to our Terms and Conditions</td>
              <td>Identity data, contact data</td>
              <td>Compliance with a legal obligation </td>
            </tr>
            <tr>
              <td>To maintain a blacklist/fraud identity system</td>
              <td>Identity data, contact data, financial data, </td>
              <td>In the legitimate interests of the business to protect the business from fraud </td>
            </tr>
            <tr>
              <td>To record Treatment Reports by Professionals which could from time to time include health data</td>
              <td>Treatment report assessment data (which may includehealth data), information regarding aftercare tips,
                treatment specifics and wellness information</td>
              <td>Consent is required from Users to collect Treatment Reports </td>
            </tr>
            <tr>
              <td>To record Service Notes which are used to provide information to Professionals to deliver treatments</td>
              <td>Information provided by users which may include access information</td>
              <td>In our legitimate interests to provide Services that are as efficient and smooth running as possible .
                This information is provided voluntarily. </td>
            </tr>
            <tr>
              <td>To gather location data on Users in order to inform the Professionals of the location in which to perform
                the treatment</td>
              <td>Identity data, contact data, Location data</td>
              <td>Necessary to fulfil the contract for services for the User, in our legitimate interests to provide
                Services that are as efficient and smooth running as possible . If this is collected automatically
                through your device, you will be asked if you permit us access to your location. We need your location
                in order to inform the Professionals where the treatment needs to be performed.</td>
            </tr>
            <tr>
              <td>To provide mediation between User and Professionals in the event of a User complaint of unsatisfactory
                treatment</td>
              <td>Identity, contact, assessment, financial data</td>
              <td>Necessary to fulfil the contract for services for the User, in our legitimate interests to provide
                Services</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <h4><strong>Professionals Information</strong></h4>
      <div class="privacy__table-container">
        <table border="1px" cellSpacing="0" cellPadding="6px" style="border-color:#E7E9EE">
          <thead>
            <tr>
              <th>Purpose</th>
              <th>Type of data</th>
              <th>Lawful basis for processing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>To register a new Professionals </td>
              <td>Identity, contact, technical</td>
              <td>Necessary for the performance of our contract with Professionals ,in our legitimate interests in operating
                our Services</td>
            </tr>
            <tr>
              <td>To identify a Professionals when they sign in to their account</td>
              <td>Identity, Technical data</td>
              <td>Necessary for the performance of our contract with the Professionals</td>
            </tr>
            <tr>
              <td>To assign and transmit a transmit a services booking to the appropriate Professionals (according
                to location and/or profile, rating or User choice)</td>
              <td>Identity, contact, profile data, assessment data, location data, technical data, transaction data,
                operational data</td>
              <td>Necessary for the performance of the User contract, fulfilling our contract with the Professionals by
                sending appropriate bookings</td>
            </tr>
            <tr>
              <td>Managing collection of payment by Users for services on behalf of Professionals and management
                of transfer of payments to Professionals </td>
              <td>Identity, contact, financial data, transaction data, operational data</td>
              <td>Necessary for performance of our contract with both Professionals and User, (obligation to process payment
                by User and obligation to collect payment on behalf of the Professionals for services booked by
                User.</td>
            </tr>
            <tr>
              <td>Assisting Professionals with queries and problems in live chats on site</td>
              <td>Identity, contact, Technical data, operational data</td>
              <td>Necessary for the performance of the contract with Professionals , in our legitimate interests to resolve
                problems to ensure the Services run as smoothly as possible to increase User satisfaction</td>
            </tr>
            <tr>
              <td>To administer and protect the site and app and Services (including troubleshooting, data analysis,
                testing and system review)</td>
              <td>Identity, contact, technical data</td>
              <td>In our legitimate interests to run our website, app and Services, manage administration and IT
                services and ensure network safety and security</td>
            </tr>
            <tr>
              <td>To manage our relationship with Professionals by sending confirmatory emails of bookings or cancellations
                with Users</td>
              <td>Identity, contact, technical data, transaction data </td>
              <td>Necessary for the performance of a contract with the User, necessary for the fulfilment of a contract
                with the Professionals, in our legitimate interests in maintaining and improving the running of the Services
              </td>
            </tr>
            <tr>
              <td>To maintain profiles on Professionals including photograph(s), biography, treatments offered, languages
                spoken. </td>
              <td>Identity, contact, assessment, profile data</td>
              <td>Necessary for the performance of a contract with the Professionals and User, in our legitimate interests
                in maintaining and improving the running of the Services</td>
            </tr>
            <tr>
              <td>To review Professionals use of the App and User experience with the Professionals. For example, we may
                analyse average ratings obtained from our evaluations, using algorithms applied to ratings and reviews.
                We take all of the ratings you have received from your past appointments with customers, apply a
                weighted rating upon them, and use this to display both in your profile and as part of the sorting
                algorithm when returning a list of Professionals available to customers when they are searching/booking.
              </td>
              <td>Number of appointments, User rating review</td>
              <td>In our legitimate interests in maintaining and improving the quality and the running of the Services
              </td>
            </tr>
            <tr>
              <td>Providing Professionals with feedback from Users including results of ratings reviews and feedback
                surveys</td>
              <td>Providing Professionals with feedback from Users including results of ratings reviews and feedback
                surveys Identity, contact, assessment, profile data</td>
              <td>Necessary for the performance of a contract with the Professionals, in our legitimate interests in
                maintaining and improving the running of the Services</td>
            </tr>
            <tr>
              <td>Inviting Professionals to take part in any promotions, events or competitions</td>
              <td>Identity, contact, usage data, marketing and communications data</td>
              <td>With consent as required by law, In the legitimate interests of the business to encourage Professionals 
                to use the Services</td>
            </tr>
            <tr>
              <td>To advertise and market our website, app and Services</td>
              <td>Identity, contact, Usage, marketing and communications, aggregated data</td>
              <td>With consent as required by law, in the legitimate interests of the business to develop and grow</td>
            </tr>
            <tr>
              <td>To send Professionals &#x27; information about services, special offers or promotions, events
                or competitions of carefully selected Business Partners.</td>
              <td>Identity, contact, usage, profile, marketing and communications, aggregated data</td>
              <td>With consent as required by law, in the legitimate interests of the business to encourage Professionals 
                to use our Business Partners&#x27; Services</td>
            </tr>
            <tr>
              <td>To notify Professionals about any changes to our website, and/or app and /or Services</td>
              <td>Identity, contact data</td>
              <td>Necessary for the performance of a contract with the Professionals and in the legitimate interests of the
                business to ensure the smooth running of the Services</td>
            </tr>
            <tr>
              <td>To notify Professionals of any changes to our Privacy Policy or changes to our contract terms and
                conditions</td>
              <td>Identity, contact data</td>
              <td>Compliance with a legal obligation </td>
            </tr>
            <tr>
              <td>To maintain a blacklist/fraud identity system</td>
              <td>Identity, contact, financial data, </td>
              <td>In the legitimate interests of the business to protect the business from fraud </td>
            </tr>
            <tr>
              <td>To gather location data on Professionals to share with Users to inform them as to when the Professionals may
                arrive to deliver the Treatments</td>
              <td>Identity data, contact data, Location data</td>
              <td>Necessary to fulfil the contract for Services for the User, in our legitimate interests to provide
                Services that are as efficient and smooth running as possible</td>
            </tr>
            <tr>
              <td>To record Treat Reports if a User enables this feature, some Professionals personal data will be captured
                against this Treatment report.</td>
              <td>Identity data </td>
              <td>Necessary to fulfil the contract for Services for the User, in our legitimate interests to provide
                Services that are as efficient and smooth running as possible If this is collected automatically through
                your device, you will be asked if you permit us access to your location. </td>
            </tr>
            <tr>
              <td>To provide mediation between User and Professionals in the event of a User complaint of unsatisfactory
                treatment</td>
              <td>Identity, contact, assessment, financial data</td>
              <td>Necessary to fulfil the contract for services for the User, in our legitimate interests to provide
                Services</td>
            </tr>
            <tr>
              <td>To monitor correct use by Professionals of our proprietary technology and Users&#x27; personal data </td>
              <td>Identity, contact, technical, usage data</td>
              <td>In our legitimate interests to monitor correct use of our proprietary technology and Users&#x27;
                personal data and for record-keeping purposes</td>
            </tr>
          </tbody>
        </table>
      </div><br>
      <h3>4. How we may share your Information </h3>
      <ul class="privacy__list">
        <li>In order to provide the Services, we may share the information Users provide with Professionals to assist them
          in the providing the services booked by Users.</li>
        <li>In order to provide the Services, we may share the information Professionals provide to Users to assist them in
          selecting a Professionals to book a services with.</li>
        <li>We may share the information you provide or that we otherwise collect through your use of the Services
          (including, where applicable, personal information) to carefully selected third-parties including affiliates,
          consultants and contractors who support our business and operations including, inter alia, processing
          transactions, fulfilling requests for information or assistance, receiving and sending
          communications,[,analysing data, providing other support services such as advertising, PR, events related
          services and other web related services such as web hosting and web-monitoring services including analytics
          providers and search information providers. These third parties will keep the information confidential and to
          use it only to the extent necessary to provide the applicable service(s) or as otherwise permitted or required
          by law. Some examples of key service providers we work with include Google (cloud storage, analytics, and
          advertising services), Amazon Web Services (storage), Salesforce (customer relationship management and
          analysis), Iterable (marketing services) and Facebook (marketing services).</li>
        <li>In some cases, we work in partnership with other carefully selected companies, Business Partners, and from
          time to time, with your consent, we may send you information about these third-party Business Partners&#x27;
          selected  services in our communications with you. We do not share your personal data with these
          third parties directly.</li>
        <li>We may disclose aggregate statistics about visitors to the Website in order to describe our services to
          prospective partners, advertisers, sponsors and other reputable third parties and for other lawful purposes.
        </li>
        <li>In the event that we undergo re-organisation, or are sold to a third party, you agree that any personal
          information we hold about you may be transferred to that re-organised entity or third party.</li>
        <li>We may disclose your personal information if legally entitled or required to do so (for example if required
          by law or by a court order or if we believe that such action is necessary to prevent fraud or cybercrime or to
          protect the Site or Service, or the rights, property or personal safety of any person).</li>
        <li>If you choose to connect the Services to Apple Health, information regarding your used of the Services for
          example which treatment you had and frequency may be recorded. You control if you want to share this data with
          Apple Health and Apple Health will handle the information in accordance with their own privacy policy. Please
          review this and your Apple Health settings for more information.</li>
      </ul><br>
      <h3>5. Information you may collect as a User or Professionals</h3>
      <p>If you are a Professionals, you are responsible for ensuring that you comply with applicable data protection law in
        respect of any personal information that you collect about Users in the course of your provision of the
        Services. Delo Services does not accept any responsibility for this processing of personal data.</p>
      <p>If you are a User, you are responsible for any misuse of personal information that you may collect in the
        course of your receipt of the Services. Delo Services does not accept any responsibility for this processing of
        personal data.</p><br>
      <h3>6. Cookies and similar technology</h3>
      <p>The Site also uses cookies or similar technology to collect information about your access to the Site. Cookies
        are small text files that include a unique reference code that a website transfers to your device to store and
        sometimes track information about you. A number of cookies we use last only for the duration of your web session
        and expire when you close your browser. Other cookies are used to remember you when you return to the Site and
        will last for longer. For more information on the cookies we use, how we use them and how to disable them please
        see <a class="privacy__link" href="/en-gb/cookies">our Cookie Policy</a>.</p><br>
      <h3>7. Public forums</h3>
      <p>The Site may, from time to time, make chat rooms, message boards, news groups and/or other public forums
        available to Users and Professionals . Any information that is disclosed in these areas becomes public information
        and you should exercise caution when using these and never disclose your personal information.</p><br>
      <h3>8. Child safety</h3>
      <p>Protecting the safety of children when they use the internet is very important to us. Our Site and Services are
        not intended for nor directed towards children and we do not knowingly collect personal information from
        children. If you believe that your child may have provided us with personal information without your consent,
        you may alert us at <a class="privacy__link" href="mailto:info@deloservices.com">info@deloservices.com</a>.</p>
      <br>
      <h3>9. External links</h3>
      <p>The Site may, from time to time, contain links to external websites. Clicking on those links or enabling those
        connections may allow third parties to collect or share information about you. We have no control over these
        third parties and we are not responsible for the content of such websites or for the privacy policies or
        practices of such third parties. You should review the privacy policy of any third party website carefully that
        you visit.</p><br>
      <h3>10. Payment processing</h3>
      <p>All payments transactions made through the Services are conducted through our payment providers. You will be providing credit or debit card information directly to
        these providers who process payment details, encrypting your credit/debit card information and authorising
        payment. </p>
     <br>
      <h3>11. Security</h3>
      <ul class="privacy__list">
        <li>We place great importance on the security of all personal information associated with both Users and
          Professionals . We have implemented appropriate technical and organisational measures to ensure the security of
          your information and to protect any personal information that is transmitted, stored or otherwise processed
          against accidental or unlawful destruction, loss, alteration, unauthorised disclosure or access. In addition,
          we limit access to this information to only those employees, agents, contractors and other third parties who
          have a business need to know. They will only process it on our instructions and they are subject to a duty of
          confidentiality.</li>
        <li>The safety and security of your personal information also depends on you. Where you have a secure log in and
          or password for access to certain parts of our Site you are responsible for keeping your log in and/or
          password confidential. We ask you not to share your log in details or password with anyone. We also urge you
          to be careful about giving out information in public areas of the Site like message boards. The information
          you share in public areas may be viewed by any user of the Site or the Services. It is also advisable to close
          your browser when you have finished your user session to help ensure others do not access your personal
          information.</li>
        <li>Unfortunately, no electronic data transmission over the internet or storage of information can be guaranteed
          to be completely secure or error free and we therefore cannot warrant or guarantee the security of information
          you submit via the Site or Service transmitted to our Site or Service and any such submission is at your own
          risk. </li>
      </ul><br>
      <h3>12. Data storage and international transfers</h3>
      <p>Information that you submit via the Services is sent to and stored on secure servers located inside and outside
        the European Economic Area (“EEA”), for example in the United States. Where we transfer your information outside
        the EEA in this way, we will take steps to require that that your privacy rights continue to be protected. By
        way of example, and as mentioned above, we work with key service providers such as Google, Facebook, Amazon Web
        Services and Salesforce and we have signed data processing addendums which reflect data transfer mechanisms to
        provide adequate protection to the personal data transferred outside the EEA.If you would like further
        information on this, please do contact us. </p><br>
      <h3>13. Opting out </h3>
      <p>Where we have your consent, or where you have not objected to receiving (as applicable) we will use your
        personal information to send you marketing and promotional communications by email about our services
        or to send you feedback surveys and ratings review requests on treatments provided, you. As mentioned above,
        where we partner and work with carefully selected Business Partners, our email communications may also contain
        information from our Business Partners.</p>
      <p>You can object to further marketing communications at any time by clicking on the unsubscribe link included in
        each such communication or notify us by email at <a class="privacy__link"
          href="mailto:info@deloservices.com">info@deloservices.com</a>.</p><br>
      <h3>14. How long we keep your information</h3>
      <p>We need to retain your information (including your personal information, where applicable) for as long as you
        remain an active user of the Services in order for us to meet our contractual obligations to you, and for such
        longer periods as are legally required or permitted.</p>
      <p>We may need to retain certain personal information even once a User account has been closed for differing
        periods, depending on the category of personal information concerned, for example, to enforce our terms, for
        fraud prevention, to identify, issue or resolve any legal claims, for proper record-keeping purposes and/or as
        required for our business operations or by applicable law.</p>
      <p>We may also retain certain personal information following any objection indicated by you to receiving Delo
        Services marketing communications for the purpose of ensuring that your wishes continue to be respected and we
        do not to contact you further.</p>
      <p>We may also retain aggregated information beyond this time for research purposes and to help us to develop and
        improve Services. You cannot be identified from aggregate information retained or used for these purposes.</p>
      <br>
      <h3>15. Your rights</h3>
      <p>You have the right under certain circumstances:</p>
      <ul class="privacy__list">
        <li>To be provided with a copy of your personal information held by us;</li>
        <li>To request the rectification or erasure of your personal information held by us;</li>
        <li>To request that we cease processing your personal data in certain circumstances </li>
        <li>To object to our processing of personal data for the purposes of sending you direct marketing emails;</li>
        <li>To request that we restrict the processing of your personal information while we verify or investigate your
          concerns;</li>
        <li>To request that your information be transferred to a third party;</li>
        <li>To withdraw consent where your personal information has been processed on this basis. You have the right to
          withdraw that consent without detriment by emailing us at <a class="privacy__link"
            href="mailto:info@deloservices.com">info@deloservices.com</a> or by clicking on the unsubscribe link found
          at the bottom of our emails;</li>
      </ul>
     <br>
      <h3>16. Changes to this Privacy Policy</h3>
      <p>We may change this Privacy Policy from time to time. If a revision is material we shall notify you before they
        take effect either through the Site or by sending you a notification (as required). Any such material changes
        will only apply to personal information collected after the revised Privacy Policy takes effect.</p><br>
     
   
      <p>This Privacy Policy was last updated on <strong>4 Dec 2019</strong></p>
<br>
    </div>
    <!-- Footer Section Start -->
    <% include ./indexfooter.ejs %>