
<!DOCTYPE html>
<html lang="en">
<head>
		<script>
				!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
				analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
				analytics.page();
				}}();
			  </script>



<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>

	<title>Delo Services - Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="User can login in delo services with their mobile number"/>

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="assets/img/ashish1.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Login_v3/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v3/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Login_v3/css/main.css">



    <link rel="canonical" href="https://www.deloservices.com/login">

<!--===============================================================================================-->


<link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/login_image.png');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/list-your-product/login-verification" method="post">	
					<span class="login100-form-logo">
						<a href="/"><img src="/images/Drop.png" style="width:50px;" alt="delo services"></a>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
					
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input type="number" class="input100" name="number" placeholder="Enter Your Mobile Number" required="">
						<span class="focus-input100" data-placeholder="&#xf10b;"></span>
					</div>
					
					

					<p style="color: white"><%=msg%></p>	

					<div class="container-login100-form-btn">
						  <button type="submit"  class="login100-form-btn"><h1 style="font-size:18px">Get OTP</h1></button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/bootstrap/js/popper.js"></script>
	<script src="/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/daterangepicker/moment.min.js"></script>
	<script src="/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/Login_v3/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="/Login_v3/js/main.js"></script>
    <script src="/javascripts/jquery.js"></script>
<script>
$('#verify').click(function(){
    if( $('#number').val()=="" || $('#number').val()==[] || $('#number').val().length<10 || $('#number').val().length>=11)
{
alert("Enter Correct Number");
}
else{
    let number = $('#number').val()
    $.post('/list-your-product/verification',{number},data=>{
        window.location.href = "/userverify";
    })
}
})
</script>

<script type="text/javascript">
	(function() {
	window.__insp = window.__insp || [];
	__insp.push(['wid', 1301399890]);
	var ldinsp = function(){
	if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1301399890&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
	setTimeout(ldinsp, 0);
	})();
	</script>
  
</body>
</html>