<!DOCTYPE html>
<html lang="en">
  <head>
      <script>
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
          analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
          analytics.page();
          }}();
        </script>

        
<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DELO SERVICES-Refund policy</title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">



    <link rel="canonical" href="https://www.deloservices.com/refundpolicy">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <meta name="description" content="Delo Service will not responsible for any actions or behavior of the Delo Service Expert, nor will it be responsible for any consequences thereof."/>

    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 6px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#1F5AB0; 
        border-radius: 6px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0; 
      }
      </style>
    <!--STYLE END SCROLL BAR-->
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap"   style="background-color: white;">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar  navbar-light" style="background-color: white;">
            <div class="container">
              <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                  </button>
                  <a href="index.html" class="navbar-brand"><img src="/assets/img/Delo Logo.png" alt=""   style="width:100%; height: 100%;"  > </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                  <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item dropdown"  style="margin-top: 15px; " >
                      <a class="nav-link " href="/" aria-expanded="false">
                        Home
                      </a>
                     
                    </li>
                 
                   
                  
                   
                    <% if(login == true){ %>
                    <li class="nav-item dropdown"  style="margin-top: 15px;" >
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="lnr lnr-user"></i> My Account
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                        <li><a class="dropdown-item" href="/cart"><i class="lnr lnr-heart"></i>Cart</a></li>
                        <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                      </ul>
                    </li>
                    <% } else { %>
  
                      <li class="nav-item dropdown"  style="margin-top: 15px;">
                        <a class="nav-link" href="/login"  aria-expanded="false">
                         Login
                        </a>
                       
                      </li>
  
                      <% } %>    
  



                      <li class="nav-item dropdown"  style="margin-top: 15px;">
                        <a class="nav-link" href="/delo-work"  aria-expanded="false">
                         For business
                        </a>
                       
                      </li>


                    <li class="postadd" style="margin-top: 35px;">
                      <a class="btn btn-primary btn-post" href="/team_login"><span class="fas fa-plus-circle"></span> Become a Team Member</a>
                    </li>

                    <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                      <a class="btn btn-primary btn-post" href="https://play.google.com/store/apps/details?id=com.deloservices.deloservices"  aria-expanded="false">
                        Download the app 
                       </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mobile-menu" data-logo="/assets/img/Delo Logo.png"></div>
          </nav>
        <!-- Navbar End -->
      <!-- Navbar End -->
      <div class="container" style="background-color:">
          <br>
          <br><br><br><br>      
           
        <h5 style="color: black;">Refund Policy</h5>
    
    <p style="color: black">Welcome to DELO SERVICES!</p>
    <br>



<p style="color: black"> For any issues related to the quality of service, you can e-mail us at cs[at]deloservices[dot]com or call our support team on 011-42078036 .</p>
<br>
<p style="color: black">    Any complaints in respect of the service should be raised within 24 hours from the service. In the event that any rework or refund is to be processed for the service it shall be initiated only within the warranty period for the respective service. The warranty period of various services is as set forth in Schedule 1 and the exclusions are set forth in Schedule 2. The decision on whether a service should be reworked, or a refund is to be provided will be at the discretion of Delo Service.</P>
<br>
<p style="color: black">    In the event that any rework is to be performed for any services that has already been rendered via a service provider (“Delo Service Expert”), Delo Service should be contacted directly on cs[at]deloservice[dot]in or 1860-123-4569. Please do not call the Delo Service Expert directly. In the event that any Customer directly contacts the Delo Service Expert: </p>
<br> 
<li style="color:black">    Delo Service will not responsible for any actions or behavior of the Delo Service Expert, nor will it be responsible for any consequences thereof.</li>
<br>
<li style="color:black">   The Customer shall have waived his / her / its right to any service warranty that may have been provided at the time of booking.</li>
<br>
<p style="color: black">      The rework of any rendered service would be done by either a Delo Service Expert or a third party appointed by Delo Service (at the discretion of Delo Service). </p>
<br>
<p style="color: black">Delo Service would be liable only for the service rendered / appliance repaired / replaced. Further, Delo Service would not be liable for any service / appliance which has been changed / altered post such rendering of service / repair, by you or any third party. </p>
<br> 
<p style="color: black"> We do not undertake any repairs related to the printed circuit board (PCB) neither will we be able to provide any warranty for the same. </p>
<br>
<p style="color: black">   We do not undertake any repairs for appliances older that 5 years from the date of purchase neither will we be able to provide any warranty for the same.</p>
<br>
<p style="color: black">  Please report any payment or invoicing related issues within 48 (Forty Eight) hours of the job closure. </p>
<br>
</div>

 <!-- Footer Section Start -->
 <% include ./indexfooter.ejs %>