<!DOCTYPE html>
<html lang="en">

<head>

    
    <link rel="canonical" href="https://www.deloservices.com/team_login">
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KHL4WHL');</script>
            <!-- End Google Tag Manager -->
        
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140402344-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'UA-140402344-1');
            </script>
            <!--End -->
        
<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <title>Join as a service expert at Delo Services | Delo Services Team Member </title>
        
         <!--META SEO START-->
         <meta charset="UTF-8">
         <meta name="description" content="Delo Services-One Destination For All Home & Beauty & Wellness Services in Delhi."               />
         <meta name="keywords" content="weddings planners, wedding reception, brides, grooms,packers and movers,packers and movers in delhi,carpenter near me,bike service,ac repair service ,wedding photographer in delhi,Wedding Photographers, Makeup Artist, Wedding Venues, Bridal Lehengas,Wedding Planning, Bridal Makeup, Banquet Halls,Wedding Decorators, Mehndi Artists, Online Wedding Planning, Indian ,Wedding Services, Home Services, Appliance ,Electronic Repairs, Beauticians,,burgundy  hair color shades for indian skin tones,Indian wedding invitation wordingweddings, indian wedding invite wordings guide,skin tone chart,skin undertones for indian skin,women massage,spa at home,home workout for men,beginners exercises to do at home for men,burgundy red hair,burgundy  hair-color shadesfor indian-skin-tones,women massage,spa at home,red hair with highlights,red highlights-for-indian-skin,
         highlight hair colour,massage for men near me,massage for men near me,small business west delhi,homes ideas modular-kitchens,ca charges for filing income tax return,bangalore tax filing,simple makeup looks,beauty simple makeup tips lipstick hacks ,Home workout for men,Basic makeup,Indian hair highlights,Indian skin tone,burgundy red hair,Indian wedding invitation wording,skin tone chart,women massage,home workout for men,beginners exercises to do at home for men,basic makeup,Indian hair highlights,beauty hair color highlights ideas for indian hair,skin undertones,hair colour shades,
         Indian wedding invitation,skin tone chart,women massage,delhi ncr spa at home,home workout for men,red hair with highlights,red highlights for indianskin,highlight hair colour,massage for men near me,ca firms in west delhi,small business west delhi,modular kitchens,simple makeup looks makeup tips lipstick hacks
         ,home workout for men,best beginners exercises to do at home for men,basic makeup,tips tricks every beginner-know,Indian hair highlights,hair color highlights ideas for indian-hair,Indian skin tone
         insurance,jwellery,rust stains,sofa,room colour,silver color,bug control,marriage,brazilian wax in delhi,SALOON AT HOME ,Pedicure,Manicure,Style my hair,Facials & Clean-Ups,Full Body Massages,RENOVATION,Interior Wall Painting,inoa beauty,bikini wax,brazilian wax,hair removal,waxing session,indian hair highlights,blue eyeshadow looks,basic makeup,sears appliance repair,appliance repair,sears home services,sears home warranty,bedroom ideas for couples,wall design,pooja room,tv room ideas,what kills cockroaches instantly,henna designs,mehndi designs,mehendi designs,sabyasachi 
         ,Plumbers, best Plumbers, Plumbers, top 10 Plumbers
         Carpenters, best Carpenters, Carpenters, top 10 Carpenters
         Salon at Home, salon near me Salon, beauty services near me,
          beauty Services at home, parlour near me, parlour at home,
          doorstep parlour services, beauty parlour services at home,
          salon at home in Lucknow, best salon in Lucknow,
          bridal makeup at home Delhi, salon at home Gurgaon, 
         parlour services at home Noida, Spa home service, 
         beautician home service, massage at home , 
          manicure pedicure home service, Delhi, Noida, 
         Gurgaon, Lucknow, Waxing at home, Facial at home,
          manicure pedicure at home, mehndi at home, best salon near me, 
          parlour near me,,Electricians, best Electricians, Electricians, top 10 Electricians,
         Exterior Painters, best Exterior Painters, Exterior Painters, top 10 Exterior Painters" />
          <meta name="google-site-verification" content="5TB0irTJKkDjgSE2r-gp9HOL-pksD8SF7rvpPlgn-_c" />  
         <meta name="msvalidate.01" content="C80D427BDFDF46CFEB5C748950D62040" />
         <meta name="robots" content="all,follow" />
         <meta name="googlebot" content="index, follow" />
        
         <meta name="classification" content="Delo Services-One Destination For All Home & Beauty & Wellness Services  Delhi India" />
         <link rel="canonical" href="https://www.deloservices.com/team_login">
         <link rel="shortcut icon" type="images/x-icon" href="/assets/img/favicon.png">
         <meta name="distribution" content="Global" />
         <meta name="author" content="http://www.deloservices.com" />
         <meta name="Language" content="English" />
         <meta name="rating" content="general" />
         <meta name="owner" content="DELO SERVICES PRIVATE LIMITED." />
         <meta http-equiv="refresh" content="300">
         <meta name="document-type" content="public" />
         <meta name="revisit-after" content="daily" />
         <meta name="country" content="India" />
        
         <meta name="DC.title" content="Delo Services-One Destination For All Home & Beauty & Wellness Services India Delhi" />
        
         <meta property="fb:admins" content="357112871580780" />
         <meta property="og:title" content="Delo Services-One Destination For All Home & Beauty & Wellness Services India" />
         <meta property="og:type" content="Delo Services-One Destination For All Home & Beauty & Wellness Servicesin Delhi India" />
         <meta property="og:url" content="http://www.deloservices.com" />
         <meta property="og:image" content="http://www.deloservices.com/images/logo.jpg" />
         <meta property="og:site_name" content="http://www.deloservices.com" />
         <meta property="og:description" content="Delo Services-One Destination For All Home & Beauty & Wellness Services in Delhi." />
         <meta property="og:locale" content="en IN" />
        <!--<link rel="canonical" href="http://www.deloservices.com"> -->
         <meta name="geo.region" content="IN-DL" />
         <meta name="geo.placename" content="New Delhi" />
         <meta name="geo.position" content="28.55629, 77.1732011" />
         <meta name="ICBM" content="28.55629, 77.1732011" />
        <!-- Required meta tags -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <!-- Title -->
    <title>Delo Service-Partner</title>
  

    <!-- Favicon -->
    <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="team/style.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<!--SCROLL BAR STYLE-->
<style>
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background:#1CC3B2; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1CC3B2; 
    }
    </style>

<!--SCROLL STYLE END-->

    <style>
     
       #mainButton {
             color: white;
             border: none;
             outline: none;
             font-size: 12px;
             font-weight: 200;
             overflow: hidden;
             position: relative;
             border-radius: 25px;
             letter-spacing: 2px;
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
             text-transform: uppercase;
             background-color: #1cc3b2;
             -webkit-transition: all 0.2s ease-in;
             -moz-transition: all 0.2s ease-in;
             -ms-transition: all 0.2s ease-in;
             -o-transition: all 0.2s ease-in;
             transition: all 0.2s ease-in;
        }
         #mainButton .btn-text {
             z-index: 2;
             display: block;
             padding: 10px 20px;
             position: relative;
        }
         #mainButton .btn-text:hover {
             cursor: pointer;
        }
         #mainButton:after {
             top: -50%;
             z-index: 1;
             content: '';
             width: 100%;
             height: 200%;
             position: absolute;
             left: calc(-150% - 40px);
             background-color: rgba(255, 255, 255, 0.2);
             -webkit-transform: skewX(-40deg);
             -moz-transform: skewX(-40deg);
             -ms-transform: skewX(-40deg);
             -o-transform: skewX(-40deg);
             transform: skewX(-40deg);
             -webkit-transition: all 0.2s ease-out;
             -moz-transition: all 0.2s ease-out;
             -ms-transition: all 0.2s ease-out;
             -o-transition: all 0.2s ease-out;
             transition: all 0.2s ease-out;
        }
         #mainButton:hover {
             cursor: default;
             box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
         #mainButton:hover:after {
             -webkit-transform: translateX(100%) skewX(-30deg);
             -moz-transform: translateX(100%) skewX(-30deg);
             -ms-transform: translateX(100%) skewX(-30deg);
             -o-transform: translateX(100%) skewX(-30deg);
             transform: translateX(100%) skewX(-30deg);
        }
         #mainButton.active {
             box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }
         #mainButton.active .modal {
             -webkit-transform: scale(1, 1);
             -moz-transform: scale(1, 1);
             -ms-transform: scale(1, 1);
             -o-transform: scale(1, 1);
             transform: scale(1, 1);
        }
         #mainButton .modal {
             top: 0;
             left: 0;
             z-index: 3;
             width: 100%;
             height: 100%;
             padding: 20px;
             display: flex;
             position: fixed;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             background-color: inherit;
             transform-origin: center center;
             background-image: linear-gradient(to top left, #00a7ee 10%, #5cf 65%, white 200%);
             -webkit-transform: scale(0.000001, 0.00001);
             -moz-transform: scale(0.000001, 0.00001);
             -ms-transform: scale(0.000001, 0.00001);
             -o-transform: scale(0.000001, 0.00001);
             transform: scale(0.000001, 0.00001);
             -webkit-transition: all 0.2s ease-in;
             -moz-transition: all 0.2s ease-in;
             -ms-transition: all 0.2s ease-in;
             -o-transition: all 0.2s ease-in;
             transition: all 0.2s ease-in;
        }
         .close-button {
             top: 20px;
             right: 20px;
             position: absolute;
             -webkit-transition: opacity 0.2s ease-in;
             -moz-transition: opacity 0.2s ease-in;
             -ms-transition: opacity 0.2s ease-in;
             -o-transition: opacity 0.2s ease-in;
             transition: opacity 0.2s ease-in;
        }
         .close-button:hover {
             opacity: 0.5;
             cursor: pointer;
        }
         .form-title {
             margin-bottom: 15px;
        }
         .form-button {
             width: 100%;
             padding: 10px;
             color: #00a7ee;
             margin-top: 10px;
             max-width: 400px;
             text-align: center;
             border: solid 1px white;
             border-radius: 25px;
             background-color: white;
             -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
             -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
             -ms-transition: color 0.2s ease-in, background-color 0.2s ease-in;
             -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
             transition: color 0.2s ease-in, background-color 0.2s ease-in;
        }
         .form-button:hover {
             color: white;
             cursor: pointer;
             background-color: transparent;
        }
         .input-group {
             width: 100%;
             font-size: 16px;
             max-width: 400px;
             padding-top: 20px;
             position: relative;
             margin-bottom: 15px;
        }
         .input-group input {
             width: 100%;
             color: white;
             border: none;
             outline: none;
             padding: 5px 0;
             line-height: 1;
             font-size: 16px;
             font-family: 'Raleway';
             border-bottom: solid 1px white;
             background-color: transparent;
             -webkit-transition: box-shadow 0.2s ease-in;
             -moz-transition: box-shadow 0.2s ease-in;
             -ms-transition: box-shadow 0.2s ease-in;
             -o-transition: box-shadow 0.2s ease-in;
             transition: box-shadow 0.2s ease-in;
        }
         .input-group input + label {
             left: 0;
             top: 20px;
             position: absolute;
             pointer-events: none;
             -webkit-transition: all 0.2s ease-in;
             -moz-transition: all 0.2s ease-in;
             -ms-transition: all 0.2s ease-in;
             -o-transition: all 0.2s ease-in;
             transition: all 0.2s ease-in;
        }
         .input-group input:focus {
             box-shadow: 0 1px 0 0 white;
        }
         .input-group input:focus + label, .input-group input.active + label {
             font-size: 12px;
             -webkit-transform: translateY(-20px);
             -moz-transform: translateY(-20px);
             -ms-transform: translateY(-20px);
             -o-transform: translateY(-20px);
             transform: translateY(-20px);
        }
         .codepen-by {
             left: 0;
             bottom: 0;
             width: 100%;
             padding: 10px;
             font-size: 16px;
             position: absolute;
             text-align: center;
             text-transform: none;
             letter-spacing: initial;
        }
         
            </style>


<!--card style-->
<style>

span{
    font-size:15px;
    border-radius:40;
}

.box{
    padding:60px 0px;
    border-radius:40;
}

.box-part{
    background:baby blue;
    border-radius:40;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
    color: black
}



</style>

 <!--mobile css-->  
   <style>
    .dm-width {
   width: 300px;
   margin: 0 auto;
}

.iphone-mockup {
   position: relative;
   z-index: 5;
}

.dm-device {
    position: relative;
    width: 100%;
    padding-bottom:203.477897%;
    margin-bottom: 20px;
}

.device {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    
    background-repeat: no-repeat;
          background-image: url(https://res.cloudinary.com/di5yipnns/image/upload/v1482236588/apple-iphone_aivldo.png);
  background-size: cover;
    background-position: center center;
}

.screen {
   overflow: hidden;
    position: absolute;
    top: 18.1%;
    bottom: 20.6%;
    left: 12.49%;
    right: 17.4%;
    background-color: #E91E63;
}

.slider {
  height: 100%;
}
.slider div {
  height: 100%;
}

.slider__item {
    font-size: 100px;
    color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item--1 {
   background-color: white;
}
.slider__item--2 {
   background-color: white;
}
.slider__item--3 {
   background-color: white;
}

.slider__item--4 {
  background-color: white;
}
</style>
<!--mobile css end-->

<!--timeline css-->
<style>

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
        
        main {
            min-width: 380px;
            max-width: 250px;
            margin: auto;
       }
       #time {
            font-size: 0.9em;
            line-height: 1.75em;
            border-top: 3px solid;
            border-image: linear-gradient(to right, #1F5AB0 0%, #1CC3B2 100%);
            border-image-slice: 1;
            border-width: 3px;
            margin: 0;
            padding: 40px;
            counter-increment: section;
            position: relative;
            color: black;
       }
        #time:before {
            content: counter(section);
            position: absolute;
            border-radius: 50%;
            padding: 5px;
            height: 1.55em;
            width: 1.55em;
            background-color:#507EC0;
            text-align: center;
            line-height: 1.25em;
            color: #fff;
            font-size: 1em;
            
       }
        #time:nth-child(odd) {
            border-right: 3px solid;
            padding-left: 0;
       }
        p:nth-child(odd):before {
            left: 100%;
            margin-left: -20px;
       }
        #time:nth-child(even) {
            border-left: 3px solid;
            padding-right: 0;
       }
        #time:nth-child(even):before {
            right: 100%;
            margin-right: -20px;
       }
        #time:first-child {
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
       }
        #time:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
       }
        
       
</style>
</head>

<body>
    <!-- Preloader -->
 <!--  <div id="preloader">
        <div class="loader"></div>
    </div>  --> 
    
    <!-- /Preloader -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHL4WHL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
 




    <!-- Header Area Start -->
    <header class="header-area" >
   
        

        <!-- Top Header Area Start -->
        <div class="top-header-area" style="background: white; height: 32px;;">
            <div class="container">
                <div class="row">

                    <div class="col-6">
                        <div class="top-header-content">
                            <a href="tel:8088879880"><i class="icon_phone" style="color: black;"></i> <span style="color: black;">+91 8088879880</span></a>
                            <a href="mailto:cs@deloservices.com"><i class="icon_mail" style="color: black;"></i> <span style="color: black;">cs@deloservices.com</span></a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="top-header-content">
                            <!-- Top Social Area -->
                            <div class="top-social-area ml-auto">
                                <a href="https://www.facebook.com/Delo-Services-Pvt-Ltd-357112871580780/" target="blank" ><i class="fa fa-facebook" aria-hidden="true" style="color: black;"></i></a>
                                <a href="https://twitter.com/DeloPvt" target="blank" ><i class="fa fa-twitter" aria-hidden="true" style="color: black;"></i></a>
                                <a href="https://www.linkedin.com/feed/?trk=onboarding-landing" target="blank" ><i class="fa fa-linkedin" aria-hidden="true" style="color: black;"></i></a>
                                <a href="https://www.instagram.com/delo_services_pvt_ltd/" target="blank" ><i class="fa fa-instagram" aria-hidden="true" style="color: black;"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Top Header Area End -->

        <!-- Main Header Start -->
        <div class="main-header-area" style="height: 72px;">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="robertoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="/team_login"><img src="team/./img/ashish/logo.png" style="width: 70px" height="30px" alt="delopartner"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                 <!--   <li class="active"><a href=".//">Home</a></li>
                                    <li><a href="./room.html">Rooms</a></li>
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href=".//">- Home</a></li>
                                            <li><a href="./room.html">- Rooms</a></li>
                                            <li><a href="./single-room.html">- Single Rooms</a></li>
                                            <li><a href="./about.html">- About Us</a></li>
                                            <li><a href="./blog.html">- Blog</a></li>
                                            <li><a href="./single-blog.html">- Single Blog</a></li>
                                            <li><a href="./contact.html">- Contact</a></li>
                                            <li><a href="#">- Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                    <li><a href="#">- Dropdown Item</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#recharge">Recharge</a></li>
                                    <li><a href="/team/help-center">Help Center</a></li>
                                   
                                    
                                </ul>  

                                <!-- Search -->
                           

                                <!-- Book Now -->
                               
                               
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel"style="height:400px;">   <!--400 px set-->
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/images/partnernewbg.jpg);" >
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-50">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12">
                                <div class="welcome-text text-center">
                                    <h6 data-animation="fadeInLeft" data-delay="200ms">Service Expert</h6>
                                    
                                    <h2 data-animation="fadeInLeft" data-delay="300ms" >Welcome To Delo Team</h2>
                                 <!--   <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">Discover Now</a>   -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img bg-overlay"  style="background-image: url(/images/partnernewbg.jpg);" >
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-50">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12">
                                <div class="welcome-text text-center">
                                    <h6 data-animation="fadeInUp" data-delay="200ms">Service Expert</h6>
                                    
                                    <h2 data-animation="fadeInUp" data-delay="300ms" >Welcome To Delo Team</h2>
                         <!--           <a href="#" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Discover Now</a>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/images/partnernewbg.jpg);" >
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-50">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12">
                                <div class="welcome-text text-center">
                                    <h6 data-animation="fadeInDown" data-delay="200ms">Service Expert</h6>
                               
                                   
                                    <h2 data-animation="fadeInDown" data-delay="300ms" >Welcome To Delo Team</h2>
                            <!--<a href="#" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Discover Now</a> --> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->













    <!-- About Us Area Start -->
    <section class="roberto-about-area section-padding-100-0">
        <!-- Hotel Search Form Area -->
        <div class="hotel-search-form-area" id="recharge"> 
            <div class="container-fluid">
                <div class="hotel-search-form">

                        <div class="row justify-content-between align-items-end">
                          
                            <div class="col-12 col-md-9 col-lg-9">
                                <label for="checkOut">Mobile no</label>
                                <input type="number" id="number"   placeholder="Enter Mobile No" class="form-control"  name="checkout-date">
                            </div>
                           
                            <div class="col-12 col-md-3">
                                <div class="ui buttons" style="margin-bottom: 40px">
                                    <button class="ui teal button verify" id="verify">Signup</button>
                                    <div class="or"></div>
                                    <button class="ui blue button go">Signin</button>
                                  </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>

<br>
<!--mobile screen -->
<h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;"  >Follow These Steps</h5>
<div class="container-fluid mt-100">
        <div class="row">
<div class="col-12 col-lg-6">

        <div class="dm-width">
                <div class="dm-device">
                  <div class="device">
                    <div class="screen">
                      <div class="slider">
                        <div class="slider__item slider__item--1">
                          <img src="/images/1.png" style="width: 300px" height="300px" alt="screen1">
                        </div>
                        <div class="slider__item slider__item--2">
                          <img src="/images/2.png" style="width: 300px" height="300px" alt="screen2">
                        </div>
                        <div class="slider__item slider__item--3">
                                <img src="/images/3.png" style="width: 210px" height="300px" alt="screen3">
                        </div>
                        <div class="slider__item slider__item--4">
                                <img src="/images/4.png" style="width: 210px;" height="300px" alt="screen4">
                        </div>
                        <div class="slider__item slider__item--4">
                            <img src="/images/5.png"     style="width: 220px;" height="300px" alt="screen5">
                    </div>
                    <div class="slider__item slider__item--4">
                        <img src="/images/6.png" style="width: 220px;" height="300px" alt="screen6">
                </div>
                <div class="slider__item slider__item--4">
                    <img src="/images/7.png" style="width: 220px;" height="300px" alt="screen7">
            </div>
          
        
  
     

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <main>
                <p id="time">1.To become a Delo Team Member Sign up on Delo Team Website / App fill the form and upload the documents for verification to create an account.</p>
                <p id="time">2.Complete your profile and become an Delo team member.</p>
                <p id="time">3.Buy credits for recharge your wallet. </p>
                <p id="time">4.Accept lead and start your journey to complete your job.</p>
              
        </main>
                     
                    
                
                    </main><!-- End of chronology/main section -->
                
                   
                    
                  </div><!-- End of Page Wrapper div -->
                </div>

                <div class="container-fluid">
                        <div class="">
                    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center; " >Boost Your Business With Delo</h5>     
                          
                        </div>
                        </div>
                
        <div class="container mt-100">
                
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">


                        <hr style="color: #1cc3b2">
                    <!-- Section Heading -->
                   
                    <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                        <h6>About Us</h6>
                       </div>
                    <div class="about-us-content mb-100">
                        <h5 class="wow fadeInUp" data-wow-delay="300ms">Join a community of Service professionals who have successfully grown their business with Delo Service.

                            </h5>
                <!--        <p class="wow fadeInUp" data-wow-delay="300ms">Manager: <span>Michen Taylor</span></p>
                        <img src="img/core-img/signature.png" alt="delopartner" class="wow fadeInUp" data-wow-delay="300ms"> -->
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="row no-gutters">
                            <div class="col-6">
                                
                                <div class="single-thumb">
                                    <img src="/images/c.jpg" alt="deloservices" style="width: 300px;">
                                </div>
                                <div class="single-thumb">
                                    <img src="/images/b.jpg" alt="deloservices">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="single-thumb">
                                    <img src="/images/e.jpg" alt="deloservices">
                                </div>
                                <div class="single-thumb">
                                    <img src="/images/a.jpg" alt="deloservices" style="height: 170px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
        
    </section>
    <!-- About Us Area End -->

    <!-- Service Area Start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="box" id="body">
        <div class="container">
             <div class="row">
                 
                    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <img src="https://img.icons8.com/ultraviolet/40/000000/bullish.png" alt="grow your business"> 
                            <br>
                            <br>
                            <div class="title">
                                <h6>Grow Your Business</h6>
                            </div>
                            
                            <div class="text">
                                <span>Delo team website / app  helps on-demand professionals with new clients in their area, including people who want services done in their home.</span>
                            </div>
                            
                          
                            
                         </div>
                    </div>	 
                    
                 <!--    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                       
                        <br>
                        <br>
                            <div class="title">
                                <h6>Work On Your Own Term</h6>
                            </div>
                            
                            <div class="text">
                                <span>You choose when you want to work. Quote your own price of your customers on your own terms that interest you.</span>
                            </div>
                            
                          
                            
                         </div>
                    </div>	 -->
                    
                     <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                   
                        <div class="box-part text-center">
                            
                            <img src="https://img.icons8.com/ios/40/000000/last-24-hours-filled.png" alt="time">
                            <br>
                            <br>
                            
                            <div class="title">
                                <h6>24/7 Support</h6>
                            </div>
                            
                            <div class="text">
                                <span>Delo team services will  offer  technical assistance for customer support round the clock to quickly resolve any problem the customer might experiences with services</span>
                            </div>
                            
                         
                            
                         </div>
                    </div>	 
                    
                  
                    
                   
                    
            
            </div>		
        </div>
    </div>
    <!-- Service Area End -->

    <!-- Our Room Area Start -->
    <!-- Our Room Area End -->

    <!-- Testimonials Area Start -->
    <section class="roberto-testimonials-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="testimonial-thumbnail owl-carousel mb-100">
                        <img src="/images/femaleteam.jpg" alt="delopartner">
                        <img src="/images/Maleteam.png" alt="delopartner">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h6>Our Coustomers Love Us</h6>
                        
                    </div>
                    <!-- Testimonial Slide -->
                    <div class="testimonial-slides owl-carousel mb-100">

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <h5>“This can be achieved by applying search engine optimization or popularly known as SEO. This is a marketing strategy which increases the quality and quantity of traffic flow to a particular website via search engines.”</h5>
                            <div class="rating-title">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                 
                                </div>
                                <h6>Ankita<span></span></h6>
                            </div>
                        </div>

                      

                        <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide">
                            <h5>“He is well behaved as a person and he has done his work on time. I am happy to book a A.C. technician. I think he need a water spray machine to save his time.”</h5>
                            <div class="rating-title">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h6>Rahul <span></span></h6>
                            </div>
                        </div>

                        <!-- Single Testimonial Slide -->
                       

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials Area End -->

    <!-- Projects Area Start -->
    <!-- Projects Area End -->

    <!-- Blog Area Start -->
   
    <!-- Blog Area End -->

    <!-- Call To Action Area Start -->
   <section class="roberto-cta-area">
        <div class="container">
            <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url(/images/a.jpg;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7">
                        <div class="cta-text mb-50">
                            <h2>Contact us now!</h2>
                            <h6 class="text-center">Contact +91 8088879880 for any Query</h6>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 text-right">
                        <a href="tel:8088879880" class="btn roberto-btn mb-50">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!-- Call To Action Area End -->

    <!-- Partner Area Start -->
  <div class="partner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <br>
                </div>
            </div>
        </div>
    </div>  
    <!-- Partner Area End -->

    <!-- Footer Area Start -->
    <footer>
        <!-- Footer Area Start -->
        <footer class="footer-area section-padding-80-0" style="background: #507EC0">
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12 col-mb-12">
                <div class="widget " style="padding-Right: 20px;">
                    <div class="footer-logo"><img src="/images/delo_logo.png"style="height: 60px" width="100px;" margi    alt="delologo"></div>
                    <br>
                  <div class="textwidget">
                    <h1 style="color: white;font-family: cambria;font-size:16px"> CIN:U74999DL2019PTC351555.</h1>
                    <p align="justify" style="color: white;font-family: cambria; font-size: 14px;"> Delo Service is your one stop destination for all your home needs from our trusted & certified professionals. </p>
                  </div>
                  <ul class="mt-3 footer-social">
                    <li><a class="facebook" target="blank"  href="#"><i class="fa-fa-facebook" style="color: white;"></i></a></li>
                    <li><a class="twitter" target="blank"  href="#"><i class="fa-fa-instagram"></i></a></li>
                    <li><a class="linkedin" target="blank"  href="#"><i class="fa-fa-linkedin"></i></a></li>
                    <li><a class="google-plus" target="blank"  href="#"><i class="fa-fa-google-plus"></i></a></li>
                  </ul> 
                </div>
              </div>
            
             
    
              <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 col-mb-12">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h5 class="widget-title" style="font-family: cambria; margin-top: 75px;" >Contact Info</h5>
    
                    <!-- Footer Nav -->
                    <ul class="footer-nav" >
                        <li ><a href="tel:8088879880"><p style="color: white;font-family: cambria;">+91 8088879880</p></a></li>
                        <li><a href="mailto:cs@deloservices.com"> <p  style="color: white;font-family: cambria;" >cs@deloservices.com</p></a></li>
                        <li><a href="#"><p  style="color: white;font-family: cambria;">D-96 Birkhe Ram Complex, Munirka, New Delhi 110067</p></a></li>
                      
                        
                    </ul>
                </div>
            </div>
              <!--app nd plays store logo-->
              <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 col-mb-12">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h5 class="widget-title" style="font-family: cambria; margin-top: 75px;" >Delo Guide Avaliable on</h5>
    
                    <!-- Single Blog Area -->
                    <div class="latest-blog-area">
                        <a href="https://play.google.com/store/apps/details?id=com.deloservice.deloteam">   
                     <img src="/images/googleplay.png" style="width:110px" height="95px" alt="google play store"></a> 
                         <a href=""><img src="/images/1565330752856.png" style="width: 110px" height="95px" alt="app store"> </a>
                      
                    </div>
    
                    <!-- Single Blog Area -->
                    <div class="latest-blog-area">
                      
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-xs-12 col-sm-12 col-mb-12">
                <div class="single-footer-widget mb-80">
                    <!-- Widget Title -->
                    <h5 class="widget-title" style="font-family: cambria;margin-top: 75px;"  >Quick Links</h5>
    
                    <!-- Footer Nav -->
                    <ul class="footer-nav" >
                        <li ><a href="/about-us"><p style="color: white;font-family: cambria;"> About Us</p></a></li>
                        <li><a href="/termsconditions"><p style="color: white;font-family: cambria;"> Term & Conditions</p></a></li>
                        <li><a href="/privacypolicy"><p style="color: white;font-family: cambria;">Privacy Policy</p></a></li>
                        <li><a href="/refundpolicy"><p style="color: white;font-family: cambria">Refund Policy</p></a></li>
                        
                    </ul>
                </div>
            </div>
    
            </div>
          </div>
        </section>
    </footer>
        <!-- Footer area End -->
        
        <!-- Copyright Start  -->
        <div id="copyright" style="background: #1F5AB0;">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p style="color: white;" >© 2019-20
                     <a href="https://deloservices.com" rel="" style="color: white;">Delo Services Pvt. Ltd</a></p> <!--nofollow remove from here-->
                </div>     
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright End -->
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="team/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="team/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="team/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="team/js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="team/js/default-assets/active.js"></script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<script>
$('.slider').owlCarousel({
            items: 1,
            singleItem:true,
            nav: true,
            dots: false,
            loop: true,
            autoPlay: 3000
        });
</script>


<script>
        var button = document.getElementById('mainButton');
        
        var openForm = function() {
            button.className = 'active';
        };
        
        var checkInput = function(input) {
            if (input.value.length > 0) {
                input.className = 'active';
            } else {
                input.className = '';
            }
        };
        
        var closeForm = function() {
            button.className = '';
        };
        
        document.addEventListener("keyup", function(e) {
            if (e.keyCode == 27 || e.keyCode == 13) {
                closeForm();
            }
        });
        </script>


<script src="/javascripts/jquery.js"></script>
<script>
$('#verify').click(function(){
    if( $('#number').val()=="" || $('#number').val()==[] || $('#number').val().length<10 || $('#number').val().length>=11)
{
alert("Enter Correct Number");
}
else{
    let number = $('#number').val()
    $.post('/team_login/verification',{number},data=>{
        window.location.href = "/teamverify";
    })
}
})


$('.go').click(function(){
    if($('#number').val()=="" || $('#number').val()=="null" || $('#number').val()==[] || $('#number').val()==null) alert("Enter Valid Mobile Number")
    else{
        const loginnumber = $('#number').val()
        $.post('/team_login/verifylogin',{loginnumber},data=>{
            window.location.href = '/loginverify'
        })
    }
})

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d4280cfe5ae967ef80dd61e/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


</html>