<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    !function () {
      var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
        analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); analytics._loadOptions = e }; analytics.SNIPPET_VERSION = "4.1.0";
        analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
        analytics.page();
      }
    }();
  </script>



  <!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-741046957');
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>DELO SERVICES - Terms and Conditions</title>
  <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">

  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">


  <link rel="canonical" href="https://www.deloservices.com/privacypolicy">

  <meta name="description"
    content="The terms 'Personal Information'and 'Sensitive Personal Data or Information' shall have the meaning ascribed to it under the applicable laws of India.." />


  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 6px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #1F5AB0;
      border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1F5AB0;
    }


    p {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }

    li {
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }

   



    h2 {
      font-size: 22px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
    }



    h3 {
      font-size: 20px;
      color: #1f5ab0;
      font-family: 'Times New Roman', Times, serif;
    }


    th {
      font-size: 16px;
      color: #1f5ab0;
      font-family: 'Times New Roman', Times, serif;
    }

    td {
      font-size: 16px;
      font-family: 'Times New Roman', Times, serif;
      line-height: 2
    }
  </style>
  <!--STYLE END SCROLL BAR-->
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap" style="background-color: white;">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar  navbar-light"
      style="background-color: white;">
      <div class="container">
        <div class="theme-header clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse"
              aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="/assets/img/Delo Logo.png" alt=""
                style="width:100%; height: 100%;"> </a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item dropdown" style="margin-top: 15px; ">
                <a class="nav-link " href="/" aria-expanded="false">
                  Home
                </a>

              </li>



              <% if(login == true){ %>
              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="lnr lnr-user"></i> My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                  <li><a class="dropdown-item" href="/cart"><i class="lnr lnr-heart"></i>Cart</a></li>
                  <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                </ul>
              </li>
              <% } else { %>

              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link" href="/login" aria-expanded="false">
                  Login
                </a>

              </li>

              <% } %>




              <li class="nav-item dropdown"  style="margin-top: 15px;">
                <a class="nav-link" href="/delo-work"  aria-expanded="false">
                 For business
                </a>
               
              </li>


              <li class="postadd" style="margin-top: 35px;">
                <a class="btn btn-primary btn-post" href="/team_login"><span class="fas fa-plus-circle"></span> Become a
                  Team Member</a>
              </li>


              <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                <a class="btn btn-primary btn-post"
                  href="https://play.google.com/store/apps/details?id=com.deloservices.deloservices"
                  aria-expanded="false">
                  Download the app
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="mobile-menu" data-logo="/assets/img/Delo Logo.png"></div>
    </nav>
    <!-- Navbar End -->
    <!-- Navbar End -->
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container" style="background-color:">




      <p>Your use of Our Site, Our App and the Services is subject to these terms and conditions together with any
        additional terms and policies referred to in them (“<strong>Our Terms</strong>”).</p>
     <br> <br> <h2>Introduction</h2>
      <p>Thank you for choosing Delo Services, a great place to book a professional service in your home, hotel or
        office.</p>
      <p>These terms and conditions of service together with any terms and policies referred to in them (<strong>Our
          Terms</strong>) constitute a legally binding agreement between you and Delo Services Private Limited (“<strong>Delo
          Services</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”). Delo Services is a
        private limited company registered in India with company No. U74999DL2019PTC351555. whose registered office is
        located at the following address: D-64 F/F No. 1 Abul
        Fazal Enclave, Part - 1 Jamia Nagar, New Delhi, South Delhi - 110025 Corporate Office : D-96 Birkhe Ram Complex
        Opp. Community Center Munirka South West Delhi - 110067 Delo Services&#x27;s GST registration number is 07AAHCD3004F1Z6.</p>
      <br>
        <br> <h2>USE OF OUR SITE AND OUR APP</h2>
      <p>Our Terms govern your use of our website (“<strong>Our Site</strong>”) and also our App (“<strong>Our
          App</strong>”) and the Services. By using Our Site, Our App or the Services, you agree to comply with Our
        Terms.</p>
      <p>Please read Our Terms carefully and thoroughly. If you do not accept Our Terms, you must not make a booking
        through Delo Services for any Professional Service </p>
      <br> <h3>PERSONAL DATA</h3>
      <p>In order to provide the Services, we may collect personal data from you. Before making a booking 
        through us, please read our privacy policy available here (<a class="legal__link"
          href="/privacypolicy">Our Privacy Policy</a>).</p>
      <br> <h3>CONSUMER TERMS</h3>
      <p>The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013 require Delo
        Services to give you certain key information for there to be a legally binding contract between you and us. This
        information is set out below and is also linked in the email which we will send to you to confirm any booking
        you make through us with an Independent professional.</p>
      <br> <h3>ELIGIBLE USE</h3>
      <p>You confirm that you are of legal age to access and use Our Site, Our App and / or the Services and are of
        legal capacity to agree to Our Terms. You are not eligible to use the Services if you are under the age of 18.
        Our Terms apply to individuals only; for any corporate bookings , please contact us at <a
          class="legal__link" href="mailto:info@deloservices.com">info@deloservices.com</a> or on <a href="tel:+918088879880">+918088879880
          </a>.</p>
      <br> <h2>OUR SERVICES</h2>
      <p>Delo Services provides a booking  (the <strong>Services</strong>). The Services allow you
        to book a range of Professional services (<strong>Professional Services</strong>) that are performed in each and
        every case by independent self-employed professionals (<strong>Independent Professionals</strong>). In providing the Services, Delo Services acts as the agent of the
        Independent professionals. Delo Services has no responsibility for any Professional Services
         which you book  through us: we are simply involved with the booking 
        process.</p>
      <p>The Services we offer allow you to search through Our Site and booked Professional Services 
        from a number of Independent professionals. In enabling you to booked Professional Services
        through Our Site, we are acting as the commercial agent of those Independent professionals .
         As part of the Services, we also provide some ancillary services such as assisting with customer
        service issues (again in our capacity as agent for the Independent professionals).</p>
      <p>However, as stated above, the contract for the booked of the Professional Services is
        between you and the Independent professional. This means that it is the Independent
        professional  who is legally responsible for providing the Professional Service  to you.
         However, Delo Services remains responsible in respect of its obligations to you in accordance
        with Our Terms which shall be legally binding. If you have any questions, complaints or requests for refunds, we
        can be contacted directly at <a class="legal__link" href="mailto:info@deloservices.com">info@deloservices.com</a> or on <a
          href="tel:+918088879880">+918088879880</a>.Delo Services will remain the point of contact for you for customer
        service questions.</p>
      <p>Delo Services shall, if requested, provide intermediary services between you and an Independent professional
         in connection with customer service .</p>
    
      <br> <h3> AGREEMENTS FOR PROFESSIONAL SERVICES</h3>
      <p>When booked through us, the Professional Service you receive will be subject to the Independent
        professional&#x27;s terms and conditions (<strong>Independent professional&#x27;s Terms</strong>). You will be
        provided with and asked to confirm your acceptance of the Independent professional&#x27;s Terms when making a
        booking through us. Delo Services is not a party to the Independent professional&#x27;s Terms: these terms will
        solely be between you and the Independent professional who provides you with your Professional Service.</p>

      <br> <h3>BOOKING PROFESSIONAL SERVICES</h3>
      <p>You can make a booking through Our Site or through Our App by choosing an Independent professional.</p>
      <p>You may only make a booking up to four days in advance.</p>
      <p>Your payment details will be requested at the time of booking and payment will be collected when you make a
        booking.</p>
    
      <p>We are appointed by Independent professionals to conclude bookings on their behalf as their commercial agent.
        Once your booking is accepted by us on behalf of the and the Independent professional, you will receive
        confirmation of your appointment from us by sms.</p>
      <p>By making a booking, you are responsible for:</p>
      <ul class="legal__list">
        <li>Full payment of the applicable services;</li>
        <li>Ensuring the Independent professional has access to your Designated Premises which must, in all cases,
          represent a suitable space in which the Professional Service can be performed, with all appropriate facilities
          (including adequate lighting and heating); and</li>
        <li>Ensuring the health and safety of the Independent professional whilst at your Designated Premises.</li>
      </ul>
      <br> <h3>DELIVERY Services</h3>
      <p>Your order will be fulfilled by the delivery date set out in the Booking Confirmation </p>
     
      <br> <h2>PAYMENT</h2>
      <p>All services charges  are payable through Our Site, Our App . We
        collect or arrange collection of payment of services charges on behalf of the Independent professional.
         In each case, our receipt of your payment as agent for the Retailer or
        Independent professional discharges your debt to that Retailer or Independent professional for the amount paid.
      </p>
      <p>We will do all that we reasonably can to ensure that all of the information you give us when paying for the
        Professional Service  is secure by using an encrypted secure payment mechanism. However, in
        the absence of negligence on the part of Delo Services, we will not be legally responsible to you for any loss
        that you may suffer if a third party gains unauthorised access to any information that you may give us at any
        time.</p>
      <p>All payments by credit card or debit card need to be authorised by the relevant card issuer. We may also need
        to use extra security steps via Verified by Visa where applicable.</p>
      <p>By making a booking you agree to provide complete, correct and true information including without
        limitation billing and payment information.</p>
      <br> <h2>PRICES</h2>
      <p>All charges are inclusive of GST.</p>
      <br> <h3>PROFESSIONAL SERVICES</h3>
      <p>The price of Professional Services (each a “<strong>Services Charge</strong>”) varies according to the type and duration of the Professional Service you
        book . 
      <p>Full details of  Services Charges are set out in <a class="legal__link" href="/">Our Site</a> and
        Our App. Services Charges are liable to change at any time, but changes will not affect any booking which you
        have already made.</p>
     
      <br> <h2>YOUR RESPONSIBILITIES</h2>
      <p>In addition to the responsibilities noted above, it is your responsibility to provide complete and accurate
        information at the time of booking. Failure to provide complete and accurate information may result
        in a rejection of your booking request, cancellation of your booking, an inability of the booked Independent
        professional to provide the Professional Service as requested. Such failure may also result in loss or incorrect delivery of your booking confirmation or Order
        Confirmation.</p>
      <br> <h2>CANCELLATIONS AND REFUNDS</h2>
      <br> <h3>PROFESSIONAL SERVICES</h3>
      <p>You acknowledge that you do not have any statutory right to cancel a booking made for a Professional Service.
        However, you have a contractual entitlement to cancel any booking you have made with an Independent professional
        through us in the following circumstances and on the described terms.</p>
      <p>Subject to the cancellation being a Late or Very Late Cancellation , if you change your
        mind about your booking prior to the agreed appointment start time in that booking (“<strong>Appointment
          Time</strong>”) then the Independent professional will be willing to treat your booking as cancelled (without
        requiring payment of all or any part of the applicable Treatment Fee and without levying any cancellation fee)
        if you cancel your booking via Our Site or Our App or via the telephone booking service (on <a
          href="tel:+918088879880">+918088879880</a>;):</p>
     
    
     
    

    
   
      
      <br> <h2>Delo Services ACTS ONLY AS AN INTRODUCER</h2>
      <p>The Services enable those seeking Professional Services to book appointments with Independent professionals
        seeking to provide such Professional Services. Whilst Delo Services assesses Independent professionals who wish
        to provide Professional Services, we do not guarantee or warrant, and make no representations regarding the
        reliability, quality or suitability of Independent professionals. This is entirely a matter for you.
        Accordingly, you acknowledge and agree that Delo Services does not have any obligation to conduct any background
        checks on any Independent professional and have no obligation in respect of any service they may provide.</p>
      <p>When interacting with any Independent professional you should exercise caution and common sense to protect your
        personal safety, details and property, just as you would when interacting with other persons who are unknown to
        you.</p>
      <br> <h3>PROMO CODES AND REFERRALS</h3>
      <p>We may from time to time create and offer promotional codes and referral codes (together
        “<strong>Codes</strong>”) that can be redeemed against booking of Professional Services. Codes
        will only be valid for a period of time stated on or with them.</p>
      <p>Codes do not have any cash value. Codes may:</p>
      <p>(1) only be used for personal and non-commercial purposes. You can share your unique code with your personal
        connections via social media where you are the primary content owner. Codes may not be duplicated, sold,
        transferred, distributed or made available to others online (including through public sites such as coupon
        sites) or by other means;</p>
      <p>(2) not be promoted in any way including via a search engine;</p>
      <p>(3) not be exchanged for cash;</p>
      <p>(4) only be used once and only one Code may be used per person; and</p>
      <p>(5) may be subject to specific terms which will be made available by us including but not limited to expiration
        / use by date as stated on the promotion, and must only be used in accordance with those terms.</p>
     
      <p>Discounts cannot be used in conjunction with any other offers or discounts.</p>
      <br> <h2>PROHIBITED USE</h2>
      <p>The Services are for your personal and non-commercial use and must only be used for the purposes of inquiring
        about or making bookings for Professional Services  as expressly described above.
        You must not use Our Site, Our App or the Services to do any of the following (each of which is strictly
        prohibited):</p>
      <ul class="legal__list">
        <li>Engage in any inappropriate behaviour including but not limited to illicit or sexually suggestive remarks,
          sexual advances, drug use, excessive drinking and/or other inappropriate behaviour;</li>
        <li>Restrict or inhibit any other user from using and enjoying the Services;</li>
        <li>Infringe the privacy rights, property rights, or other civil rights of any person;</li>
        <li>Harass, abuse, threaten or otherwise infringe or violate the rights of Independent professionals, Delo
          Services (including its employees and personnel) or others;</li>
        <li>Harvest, data-mine or otherwise collect information about others, including email addresses, without their
          consent;</li>
        <li>Use technology or other means to access our computer network, unauthorised content or non-public spaces;
        </li>
        <li>Introduce or attempt to introduce any viruses or any other harmful code, files or programs that interrupt or
          otherwise or limit the Services, Our Site or Our App&#x27;s functionality, or damage, disable or otherwise
          impair our servers or networks or attempt to do the same; or</li>
        <li>Engage in or encourage others to engage in criminal or unlawful conduct or breach Our Terms including misuse
          of the Services for unlawful or unauthorised purposes.</li>
      </ul>
      <p>You agree not to breach Our Terms in any way which may result in, among other things, termination or suspension
        of your access to the Services.</p>
      <br> <h2>INTELLECTUAL PROPERTY</h2>
      <p>Delo Services, the Delo Services logo, brand and all other intellectual property rights, trademarks, service
        marks, graphics and logos used in connection with the Site, App or the Services (whether registered or
        unregistered) belong to us or our licensors (as are applicable) and are protected by intellectual property law.
        Nothing in Our Terms grants you any rights in the Site, App or Services or the content within the same. All
        rights are reserved.</p>
      <br> <h2>DISCLAIMER</h2>
      <p>As noted above, we introduce individuals seeking Professional Services to Independent professionals seeking to
        provide such Professional Services. We are not liable or responsible for the fulfilment of any booking or the
        performance of the Independent professional. You acknowledge and agree that we are not responsible for
        addressing any claims you have as regards any Independent professional or any Professional Services, however we
        do try to assist by providing the intermediary services around resolving disputes and complaints as mentioned
        above.</p>
      <br> <h3>OUR SERVICES ARE FOR GENERAL INFORMATION ONLY</h3>
      <p>Content on Our Site and Our App which is made available as part of the Services is provided for your general
        information purposes only. Nothing contained on Our Site, Our App or communicated any other way as part of the
        Services constitutes, or is meant to constitute, advice, opinion or guidance of any kind. We are not a health
        care provider nor do we provide medical advice or medical treatment. References in Our Site, Our App and
        elsewhere to “treatment” and “therapy” or any similar terms do not refer to medical treatment or medical
        therapy. The information presented on Our Site, Our App and otherwise as part of the Services is not intended to
        diagnose health problems or to take the place of professional medical care. Should you have a medical issue you
        should always consult with a qualified medical professional.</p>
      <br> <h3>WE CANNOT GUARANTEE OUR SITE, OUR APP OR THE SERVICES</h3>
      <p>We make no warranty or guarantee that Our Site, Our App or any other aspect of the Services is suitable for
        your intended use, error-free, timely, reliable, entirely secure, virus-free or available. We make no guarantee
        of particular results or outcomes by use of Our Site, Our App or any other aspect of the Services.</p>
      <p>Nothing in Our Terms will exclude or limit any warranty implied by law that it would be unlawful to exclude or
        limit and nothing in Our Terms will exclude or limit our liability in respect of any: death or personal injury
        caused by the negligence of Delo Services, fraud or fraudulent misrepresentation by Delo Services, or any matter
        which it would be illegal or unlawful for Delo Services to exclude or limit, or to attempt or purport to exclude
        or limit, its liability.</p>
      <p>We are not liable or responsible for any errors in or failure to provide the Services due to your error or
        failure to provide accurate and complete information.</p>
      <p>Whilst we make every effort to ensure that the Services are available, we do not represent, warrant or
        guarantee in any way the continued availability at all times or the uninterrupted use by you of the Services. We
        reserve the right to suspend or cease the operation of all or part of the Services from time to time at our sole
        discretion.</p>
      <p>Use of Our Site, Our App and the Services is on an “as-is” and “as available” basis. To the maximum extent
        permitted at law in no event shall we be liable for any direct, indirect, punitive, incidental, special,
        consequential damages or any damages whatsoever including, without limitation, damages for loss of use, loss of
        data, lost revenues, loss of goodwill, loss of anticipated saving or profits, or arising out of or in any way
        connected with the use or performance of the site or services, or with the delay or inability to use the site or
        services, or with the provision of or failure to provide the site or services.</p>
      <br> <h2>INDEMNITY</h2>
      <p>You agree to defend and indemnify us from and against any claims, causes of action, demands, recoveries,
        losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to
        reasonable legal and accounting fees, that arise from or relate to your use or misuse of, or access to the
        Services and otherwise from your violation of Our Terms.</p>
      <br> <h2>MODIFICATION AND TERMINATION</h2>
      <p>We may modify Our Terms or terminate use of the Services at any time by giving notice to you. If you do not
        agree to any changes, you must stop using the Services. We may also change, suspend, terminate or discontinue
        any aspect of the Services including availability of certain features at any time for any reason.</p>
      <br> <h2>SEVERABILITY</h2>
      <p>If any provision of Our Terms is deemed or becomes invalid, the validity of the other provisions shall not be
        affected.</p>

      <p>Please email <a class="legal__link" href="mailto:info@deloservices.com">info@deloservices.com</a> for any other enquiries.
      </p>

<br>

    </div>
    <!-- Footer Section Start -->
    <% include ./indexfooter.ejs %>